{% load thumbnail %}
{% load likes %}
{% load users %}

<div class="col-xs-12 col-sm-4 col-md-3 item type-2 type-1 {% if competition.in_entry_period %}in-entry{% endif %} {% if competition.in_vote_period %}in-vote{% endif %}" data-category="type-2">
  <div class="item-wrapper">
    {% thumbnail competition.photo "300" as im %}
    <div class="item-img">
      <a href="{{ competition.get_absolute_url }}" class="item-link img-overlay">
        <span class="item-img-inner">
          <span class="date-tag">
            <span class="date-day">{{ competition.entry_end_date|date:'d' }}</span>
            <span class="date-month">{{ competition.entry_end_date|date:'M' }}</span>
          </span>
          <img class="img-responsive" src="{{ im.url }}">
        </span>
      </a>
    </div>
    {% endthumbnail %}

    <div class="row item-info">
      <div class="col-xs-6 col-sm-6 col-md-6 item-title">
        <h3>{{ competition.title }}</h3>
        {% user_link competition.created_by %}
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 item-stats"> 
        <span class="item-stats-entry"><i class="icon icon-photos-1"></i>{{ competition.photos.count }} </span>
        <span class="item-stats-entry"><i class="icon icon-bubble-1"></i>{{ competition.comments.count }}</span>
      </div>
    </div>
  </div>
</div>
