{% extends 'partials/content_footer.html' %}
{% load votes %}

{% block prepend %}
  <li>
  <div class="vote-box"
    data-votes-left="{{ votes_left|default_if_none:0 }}"
    data-state-href="{% url 'api:votes:state' object.uuid %}"
    data-href="{{ request.path }}"
    data-start-date="{{ object.competition.vote_start_date|date:'c' }}"
    data-end-date="{{ object.competition.vote_end_date|date:'c' }}"></div>
    {% comment %}
    {% else %}
        <div class="vote-text">
            <span>You cannot cast anymore votes in this competition</span>
        </div>
    {% endif %}
    {% endcomment %}
  </li>
{% endblock %}
