{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en" ng-app>
	<head>
		<meta charset="utf-8">
        <title>{% block title_prepend %}{% endblock %}{% block title %}New Zealand Photography Group{% endblock title %}</title>
		<meta name="csrf-token" content="{{ csrf_token }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="New Zealand Photography Group Website">
        {% block meta_author %}<meta name="author" content="James Lin">{% endblock %}
		{% block meta %}
		<meta property="og:site_name" content="New Zealand Photography Group" />
		<meta property="og:tile" content="Home">
		<meta property="og:description" content="Official Website for New Zealand Photography Group">
		{% endblock %}

		<link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicons/apple-touch-icon-57x57.png' %}">
		<link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicons/apple-touch-icon-60x60.png' %}">
		<link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicons/apple-touch-icon-72x72.png' %}">
		<link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicons/apple-touch-icon-76x76.png' %}">
		<link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicons/apple-touch-icon-114x114.png' %}">
		<link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicons/apple-touch-icon-120x120.png' %}">
		<link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicons/apple-touch-icon-144x144.png' %}">
		<link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicons/apple-touch-icon-152x152.png' %}">
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon-180x180.png' %}">
		<link rel="icon" type="image/png" href="{% static 'favicons/favicon-32x32.png' %}" sizes="32x32">
		<link rel="icon" type="image/png" href="{% static 'favicons/android-chrome-192x192.png' %}" sizes="192x192">
		<link rel="icon" type="image/png" href="{% static 'favicons/favicon-96x96.png' %}" sizes="96x96">
		<link rel="icon" type="image/png" href="{% static 'favicons/favicon-16x16.png' %}" sizes="16x16">
		<link rel="manifest" href="{% static 'favicons/manifest.json' %}">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-TileImage" content="{% static 'favicons/mstile-144x144.png' %}">
		<meta name="theme-color" content="#ffffff">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="{% static 'vendor/lt-ie-9/lt-ie-9.min.js' %}"></script>
		<![endif]-->

		{% block css %}
		<!-- This file store project specific CSS -->
        {# {% stylesheet 'base' %} #}
        <link href="{% static 'css/project.css' %}?{{ CACHE_BREAKER }}" rel="stylesheet"> 
        <link href="{% static 'vendor/jquery-ui/themes/base/all.css' %}?{{ CACHE_BREAKER }}" rel="stylesheet"> 

		{% endblock %}

		{% block angular %}
		{# <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script> #}
		{% endblock %}

	</head>

	<body>

		<header class="header navbar animated">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<button type="button" class="circle-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						
						<a class="navbar-brand nzpg-logo header-logo" href="/">NZPG</a>
					</div>

					<div class="col-md-6">
						<ul class="pull-right action-link">
							<li><span class="full-name">New Zealand Photography Group</span></li>
							<li><button type="button" class="circle-btn header-search"><i class="icon icon-magnifier"></i></button></li>
		                    {% if request.user.is_anonymous %}
		                        <li><button type="button" class="circle-btn header-login"><i class="icon icon-user-1"></i></button></li>
		                    {% else %}
		                        <li class="dropdown">
		                            <button type="button" class="circle-btn header-avatar dropdown-toggle" type="button" data-toggle="dropdown"><img src="{{ request.user.profile_picture }}" /></button>
		                            <div class="dropdown-menu dropdown-menu-right">
		                                <ul class="profile-control">
		                                    <!--<li><a href="#"><i class="icon icon-photo-1"></i> Post photo</a></li>-->
		                                    <!--<li><a href="#"><i class="icon icon-book"></i> View album</a></li>-->
		                                    <li><a href="{% url 'competitions:add' %}"><i class="icon icon-beach"></i> Create competition</a></li>
		                                </ul>
		                                <ul class="profile-control control-lower">
                                            <li><a href="{{ request.user.get_absolute_url }}">Your profile</a></li>
		                                    <li><a href="{% url 'account_logout' %}">Sign out</a></li>
		                                </ul>
		                            </div>
		                        </li>
		                    {% endif %}
							
						</ul>
			        </div>

			        <!-- Modal -->
			        <div class="controls-bg animated nav-overlay">
						<ul class="nav navbar-nav animated">
							<li class="active"><a href="{% url 'home:home' %}">Home</a></li>
							<li><a href="{% url 'home:about' %}">About</a></li>

							{% if request.user.is_authenticated %}
								<li><a href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a></li>
								<li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
							{% else %}
								<li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
								<li><a href="{% url 'account_login' %}">{% trans "Log In" %}</a></li>
							{% endif %}
						</ul>
					</div>
						
			        <div class="controls-bg animated login-overlay">
			        	<div class="container">
				        	<button type="button" class="overlay-close"><i class="icon icon-cross-1"></i></button>
				        	<div class="overlay-content animated">
					        	<div class="login-form">
					        		<h2>Sign in to NZPG or create an account</h2>
					        		<p class="normal-text">Post the photos you've taken<br />Share your vision with your friends</p>
                                    <div class="login-btn"><a href="/accounts/facebook/login/?process=login&next={{ request.path }}"><i class="fa fa-facebook"></i> Sign in with Facebook</a></div>
	                                <p>Protected by SSL Security</p>
					        	</div>
				        	</div>
			        	</div>
			        </div>

			        <div class="controls-bg animated search-overlay">
			        	<div class="container">
			        		<button type="button" class="overlay-close"><i class="icon icon-cross-1"></i></button>
				        	<div class="overlay-content animated search-wrapper">
					        	<form id="search-form" class="search-form" method="GET" action="/search/">
									<div class="form-group">
								    	<input type="text" id="header-search" class="form-control animated" name="q" placeholder="Search NZPG" autocomplete="off">
								  	</div>
								  	<!--<button type="submit" class="btn btn-default">Submit</button>-->
								</form>
								<div class="search-content" id="search-content">
								</div>
							</div>
						</div>
			        </div>
		        </div>
			</div>
		</header>

		<div class="section-content section-body">
			<div class="container-fluid">	
				{% if messages %}
						{% for message in messages %}
								<div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
						{% endfor %}
				{% endif %}
                {% comment %}
				{% block top %}
					{% for notification in request.user.notifications.all|slice:":5" %}
							{% include 'notifications/partials/each_notification.html' %}
					{% endfor %}
				{% endblock top %}
                {% endcomment %}
				{% block content %}
					<p>Use this document as a way to quick start any new project.</p>
				{% endblock content %}
			</div> <!-- /container -->
		</div>

		<div class="section-content section-bottom">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3">
						<a class="nzpg-logo bottom-logo" href="/">NZPG</a>
						<h3 class="no-cap">Community for NZ photographers</h3>
						<p>We are a group of photography hobbyists who enjoy all sorts of different types of photography.</p>
					</div>
					<div class="col-md-3">
						<h3>Stay Connected</h3>
						<ul class="social-links">
							<li class="bottom-facebook"><a href="https://www.facebook.com/groups/381712695180549/"><i class="fa fa-facebook"></i> facebook</a></li>
							<li class="bottom-twitter"><a href="https://twitter.com/photogroupnz"><i class="fa fa-twitter"></i> twitter</a></li>
							<li class="bottom-pinterest"><a href="https://www.pinterest.com/photogroupnz/"><i class="fa fa-pinterest"></i> pinterest</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<h3>Find out more</h3>
						<ul>
                            <li><a href="{% url 'competitions:home' %}">competitions</a></li>
                            {# <li><a href="{% url 'users:list' %}">members</a></li> #}
							<!--<li><a href="#">photos</a></li>-->
							<!--<li><a href="#">albums</a></li>-->
							<!--<li><a href="#">events</a></li>-->
							<!--<li><a href="#">members</a></li>-->
							<!--<li><a href="#">news</a></li>-->
                            <li><a href="{% url 'home:contact' %}">contact us</a></li>
                            <li><a href="{% url 'home:about' %}">about us</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<h3>What you can do</h3>
						<ul>
							<li><button type="button" class="bottom-btn header-login">Signup / Login</button></li>
							<li><button type="button" class="bottom-btn header-search">Search</button></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		{% block modal %}{% endblock modal %}

		<footer>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8 footer-nav">
						<ul>
							<li>
								<a href="/privacy">Privacy Policy</a>
							</li>
							<li>
								<a href="/terms">T&amp;Cs</a>
							</li>
							<li>
								<a href="#">Newsletter</a>
							</li>
						</ul>
					</div>
					<div class="col-md-4 footer-cp">
						&copy; 2015 NZPG
					</div>
				</div>
			</div>
		</footer>

		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->

		{% block javascript %}
			<!-- place project specific Javascript in this file -->
            <script src="{% static 'js_built/lib.js' %}?{{ CACHE_BREAKER }}"></script>
            <script src="{% static 'js_built/project.js' %}?{{ CACHE_BREAKER }}"></script>
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=1546283155660207&version=v2.0";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
		{% endblock javascript %}
		{% block requirejs %}
		{% endblock %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', '{{ GA_ACCOUNT }}', 'auto');
          ga('send', 'pageview');
        </script>
	</body>
</html>
 
