{% load thumbnail %}
{% load likes %}

<div class="row">
  <div class="row">
    <span>{{ post.safe_description }}</span>
  </div>
  <div class="row">
  {% for photo in post.photos.all %}
    {% thumbnail photo.photo "500" as im %}
    <a href="{% url 'photos:photo' photo.uuid %}"><img src="{{ im.url }}"/></a>
    {% endthumbnail %}
  {% endfor %}
  </div>
  <div class="row">
  {% if not disable_content_footer %}
    {% include 'partials/content_footer.html' with object=post %}
  {% endif %}
  </div>
</div>
