{% load inappropriate %}

{% is_reported_by object request.user as reported %}
{% if reported %}
<a href="#" class="rounded-btn btn-primary">
    <i class="icon icon-bubble-block-1"></i> 
    <span class="btn-label">Reported</span>
</a>
{% else %}
<a href="{% url 'governance:report-inappropriate' object.uuid %}" class="rounded-btn">
    <i class="icon icon-bubble-block-1"></i> 
    <span class="btn-label">Inappropriate</span>
</a>
{% endif %}
