{% extends 'base.html' %}

{% block content %}
    {% if already_reported %}
    You have already reported this content created by <strong>{{ content.created_by }}</strong.
    {% else %}
      You are about to report a content created by <strong>{{ content.created_by }}</strong>
      <form action="{{ request.path }}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit"/>
      </form>
    {% endif %}
{% endblock %}
