{% extends 'competitions/base.html' %}

{% block content %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>Add Photo</h1>
		<form action="{% url 'competitions:add_photo' competition.uuid %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
			{% csrf_token %}
			{{ form }}
		    {% for inline in inlines %}
		      {{ inline }}
		    {% endfor %}
			<div class="form-group spacing-lg">
				<div class="col-md-8 col-md-offset-4">
					<button class="btn btn-default btn-lg" type="submit">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
