{% extends 'competitions/base.html' %}
{% load thumbnail %}
{% load likes %}
{% load users %}
{% load competition %}

{% block title_prepend %}
{{ competition.title }} | 
{% endblock %}
{% block meta_author %}<meta name="author" content="{{ competition.created_by }}">{% endblock %}
{% block meta %}
    <meta property="og:title" content="New Zealand Photography Group: {{ competition.title }} by {{ competiton.created_by }}" />
    <meta property="og:description" content="{{ competition.description }}">
    <meta property="og:url " content="{{ competition.get_absolute_url }}">
    <meta property="og:image" content="{{ competition.photo.url }}">
    <meta property="article:author" content="{{ competition.created_by }}">
{% endblock %}

{% block content %}
  
    <div class="row spilit-heading">
      <div class="col-md-6">
        <h1>{{ competition.title }}</h1>
        
      </div>
      <div class="col-md-6">
        {% if competition.created_by == request.user %}
        <ul class="pull-right action-link">
          <li>
            <a href="{% url 'competitions:update' competition.uuid %}" class="rounded-btn">
              <i class="icon icon-edit-3"></i>
              <span class="btn-label">Edit</span>
            </a>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
    <div class="row competition-details">
      <div class="col-md-4">
        <p>{{ competition.safe_description }}</p>
        <ul class="competition-details-list col-md-4">
          <li class="clearfix">
            <span class="circle-btn header-avatar">
              <a href="#"><img src="{{ competition.created_by.profile_picture }}" /></a>
            </span>
            <span class="details-created">
              {{ competition.created_by }}<br />
              <a href="{{ competition.created_by.get_absolute_url }}">View profile</a>
            </span>
          </li>
          <li>
            <span class="col-md-4 competition-details-label">Entry period</span> 
            <span class="col-md-8">{{ competition.entry_start_date|date:'d M y' }} - {{ competition.entry_end_date|date:'d M y' }}</span>
          </li>
          <li>
            <span class="col-md-4 competition-details-label">Voting period</span> 
            <span class="col-md-8">{{ competition.vote_start_date|date:'d M y' }} - {{ competition.vote_end_date|date:'d M y' }}</span>
          </li>
          <li>
            <span class="col-md-4 competition-details-label">Photos per person</span> 
            <span class="col-md-8">{{ competition.photos_per_user }}</span>
          </li>
          <li>
            <span class="col-md-4 competition-details-label">Votes per person</span> 
            <span class="col-md-8">{{ competition.votes_per_user }}</span>
          </li>
          {% if competition.prize %}
          <li>
            <span class="col-md-4 competition-details-label">Prize</span> 
            <span class="col-md-8">{{ competition.prize }}</span>
          </li>
          {% endif %}
          {% if competition.sponsor_content %}
          <li>
            <span class="col-md-4 competition-details-label">Sponsored by</span> 
            <span class="col-md-8">{{ competition.sponsor_content|safe }}</span>
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="col-md-8 text-center">
        {% thumbnail competition.photo "x350" padding=True as im %}
        <img src="{{ im.url }}" />
        {% endthumbnail %}
        <!--<img src="http://farm3.staticflickr.com/2949/coverphoto/58513626@N04_h.jpg?1412888917#58513626@N04" />-->
      </div>
    </div>
    {% if competition.is_closed %}
    <div class="row">
      <div class="col-md-12 competition-winner">
        {% if winners|length > 1 %}
            <h2 class="heading-main">The winners are</h2>
        {% else %}
            <h2 class="heading-main">The winner is</h2>
        {% endif %}
        <ul class="who-outter">
        {% for winner in winners %}
        <li class="winner-who clearfix">
          <span class="circle-btn header-avatar">
            <a href="{{ winner.created_by.get_absolute_url }}"><img src="{{ winner.created_by.profile_picture }}"></a>
          </span>
          <span class="details-winner">
            {{ winner.created_by }}<br>
            <a href="{{ winner.get_absolute_url }}">View winning entry</a>
          </span>
        </li>
        {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

    {% if competition.in_entry_period %}
        {% if competition.photos.count %}
        <div class="row spilit-heading">
          <div class="col-md-6">
            <h2 class="heading-main">Entries</h2>
          </div>
          <div class="col-md-6">
            {% if competition|get_photos_left:request.user %}
            <ul class="pull-right action-link">
              <li>
                <a href="{% url 'competitions:add_photo' competition.uuid %}" class="rounded-btn">
                  <i class="icon icon-add-1"></i>
                  <span class="btn-label">Submit your photo</span>
                </a>
              </li>
            </ul>
            {% elif request.user.is_anonymous %}
            <span><strong><a href="#" class="header-login">Login to submit your photo</a></strong></span>
            {% endif %}
          </div>
        </div>
        {% else %}
        <div class="row no-entry">
          <div class="col-md-12">
            <h2 class="heading-main">Competition now open for entry</h2>
            {% if competition|get_photos_left:request.user > 0 %}
            <a href="{% url 'competitions:add_photo' competition.uuid %}" class="rounded-btn rounded-big">
              <i class="icon icon-add-1"></i>
              <span class="btn-label">Submit your photo</span>
            </a>
            {% elif request.user.is_anonymous %}
            <span><strong><a href="#" class="header-login">Login to submit your photo</a></strong></span>
            {% endif %}
          </div>
        </div>
        {% endif %}
    {% elif competition.in_vote_period %}
        <div class="row no-entry">
          <div class="col-md-12">
            <h2 class="heading-main">Entry period has now closed.</h2>
            <h3>You can now start voting.</h3>
          </div>
        </div>
    {% else %}
        <div class="row no-entry">
          <div class="col-md-12">
            <h2 class="heading-main">The competition has now closed.</h2>
            <p>Thank you for your participation.</p>
          </div>
        </div>
    {% endif %}
    <div class="row">
      {% comment %}
      <div class="btn-group isotope-control">
        <!--<div class="col-md-6">-->
          <!--<div id="isotope-filter">-->
            <!--<button class="btn active" data-filter="*">show all</button>-->
            <!--<button class="btn" data-filter=".type-1">type-1</button>-->
            <!--<button class="btn" data-filter=".type-2">type-2</button>-->
            <!--<button class="btn" data-filter=".type-3, .type-4">type-3 and type-4</button>-->
            <!--<button class="btn" data-filter=":not(.type-2)">not type-2</button>-->
            <!--<button class="btn" data-filter=".type-1:not(.type-2)">type-1 but not type-2</button>-->
          <!--</div>-->
        <!--</div>-->

        <div class="col-md-6">
          <div id="isotope-sort">
            <button class="btn active" data-sort-value="original-order">latest</button>
            <button class="btn" data-sort-value="votes" data-sort-descending="true">votes</button>
          </div>
        </div>
      </div>
      {% endcomment %}

      <div class="isotope masonry-grid">
      {% for photo in paged.object_list %}

        <div class="col-xs-12 col-sm-4 col-md-3 item type-2 type-1 " data-category="type-2">
          <div class="item-wrapper">
            
            <div class="item-img">
                <a href="{{ photo.get_absolute_url }}" class="item-link img-overlay">
                <span class="item-img-inner">
                  {% if competition.is_closed and photo in winners %}
                  <span class="winner-tag">winner</span>
                  {% endif %}
                  <span class="date-tag">
                      <span class="date-day">{{ photo.created_at|date:'d' }}</span>
                      <span class="date-month">{{ photo.created_at|date:'M' }}</span>
                  </span>
                  {% thumbnail photo.photo "500" as im %}
                  <img class="img-responsive" src="{{ im.url }}">
                  {% endthumbnail %}
                </span>
              </a>
            </div>

            <div class="row item-info">
              <div class="col-xs-6 col-sm-6 col-md-6 item-title">
                <h3>{{ photo.title }}</h3>
                <p>by {% user_link photo.created_by %}</p>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 item-stats"> 
                <span class="item-stats-entry data-sort-value votes"><i class="icon icon-heart-1"></i>{{ photo.votes.count }} </span>
              </div>
            </div>
          </div>
        </div>

      {% endfor %}
      </div>
    </div>
    {% if paged.paginator.num_pages > 1 %}
        <div class="row">
          <div class="col-md-12 pagination-centered text-center">
                {% include 'partials/pagination.html' with paged=paged object=competition urlname='competitions:competition' %}
          </div>
        </div>
    {% endif %}
    {% include 'partials/content_footer.html' with object=competition %}

    <div class="row">
      <div class="col-md-4">
        <h2 class="heading-main">Comments</h2>
      </div>
      <div class="col-md-4">
        {% if not disable_comments %}
          {% include 'comments/partials/comment_box.html' %}
        {% endif %}
      </div>
      <div class="col-md-4">
        {% include 'partials/ads/bottom.html' %}
      </div>
    </div>

{% endblock %}
