{% extends 'competitions/base.html' %}
{% load thumbnail %}

{% block title_prepend %}
{{ photo.title|default:'Competition Photo' }} by {{ photo.created_by }} | 
{% endblock %}
{% block meta_author %}<meta name="author" content="{{ photo.created_by }}">{% endblock %}
{% block meta %}
<meta property="og:title" content="New Zealand Photography Group | {{ photo.title|default:'Competition photo' }} by {{ photo.created_by }}" />
    <meta property="og:description" content="{{ photo.description }}">
    <meta property="og:url " content="{{ photo.get_absolute_url }}">
    <meta property="og:image" content="{{ photo.photo.url }}">
    <meta property="article:author" content="{{ photo.created_by }}">
{% endblock %}

{% block content %}
    
    <div class="row spilit-heading">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        
      </div>
    </div>
    <div class="photo-container">
      <a class="photo-back" href="{{ photo.competition.get_absolute_url }}">
        <i class="icon icon-back"></i> 
      </a>
      <div class="photo-action">
        {% if photo.created_by == request.user %}
        <ul class="pull-right action-link">
          <li>
            <a href="{% url 'competitions:update_photo' photo.uuid %}" class="rounded-btn">
              <i class="icon icon-edit-3"></i>
              <span class="btn-label">Edit</span>
            </a>
          </li>
        </ul>
        {% endif %}
      </div>  
      <a class="photo-nav photo-prev" href="{{ photo.previous_photo.get_absolute_url }}">
        <i class="icon icon-arrow-65"></i>
      </a>
      {% include 'photos/partials/photo_detail.html' %}
      <a class="photo-nav photo-next" href="{{ photo.next_photo.get_absolute_url }}">
        <i class="icon icon-arrow-66"></i>
      </a>
    </div>
    {% include 'competitions/partials/photo_content_footer.html' with object=photo %}
    <div class="row">
      <div class="col-md-4">
        {% if not disable_comments %}
          <h2 class="heading-bottom">{{ photo.title}}</h2>
          <p>{{ photo.description }}</p>
          {% include 'comments/partials/comment_box.html' %}
        {% endif %}
      </div>
      <div class="col-md-4">
        <div class="photo-basic">
          <span class="circle-btn header-avatar circle-btn-medium">
            <a href="#">
                <img src="{{ photo.created_by.profile_picture }}">
            </a>
          </span>
          <div class="basic-info">
              <a class="basic-author" href="{{ photo.created_by.get_absolute_url }}">{{ photo.created_by }}</a>
              <div class="basic-date">Uploaded on <span>{{ photo.created_at }}</span></div>
          </div>
          {% if photo.exif %}
            <div class="exif-wrapper">
              <div class="collapse" id="exif-data-collapse">
                  <h3>EXIF Data</h3>
                  <table class="table table-hover">
                    {% for k, v in photo.exif.items %}
                    <tr>
                      <td class="exif-label">{{ k }}</td>
                      <td class="exif-data">{{ v }}</td>
                    </tr>
                    {% endfor %}
                  </table>
              </div>
              <button class="rounded-btn" type="button" data-toggle="collapse" data-target="#exif-data-collapse" aria-expanded="false" aria-controls="exif-data-collapse">
                <i class="icon icon-information"></i>
                <span class="btn-label">EXIF Data</span>
              </button>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="col-md-4">
          {% include 'partials/ads/bottom.html' %}
      </div>
    </div>

{% endblock %}
