{% extends 'competitions/base.html' %}

{% block content %}
	<div class="row">
		<div class="col-md-12"><h1>Competitions</h1></div>
	</div>
	<div class="row">
		<div class="btn-group isotope-control">
	    	<div class="col-md-6">
			    <div id="isotope-filter">
					<button class="btn active" data-filter="*">Show All</button>
					<button class="btn" data-filter=".in-entry">Open</button>
					<button class="btn" data-filter=".in-vote">Voting</button>
				</div>
			</div>

			<div class="col-md-6">
                <a href="{% url 'competitions:add' %}" class="rounded-btn">
                  <i class="icon icon-add-1"></i>
                  <span class="btn-label">Start a competition</span>
                </a>
				<!--<div id="isotope-sort">-->
					<!--<button class="btn active" data-sort-value="original-order">latest</button>-->
					<!--<button class="btn" data-sort-value="name">name</button>-->
				<!--</div>-->
			</div>
		</div>
	  	<div class="isotope masonry-grid">
	  	{% for competition in competitions %}
	    	{% include 'competitions/partials/each_competition.html' %}
	  	{% endfor %}
	    </div>
    </div>


{% endblock %}
