{% comment %}
<a href="#" class="comment-box" data-target="#comment-box-{{ object.uuid }}">Comment ({{ object.comments.active_content.count }})</a>
<div class="row hidden" id="comment-box-{{ object.uuid }}">
  {% for comment in object.comments.active_content %}
    <div>
      {{ comment.message }}
      {% include 'governance/partials/inappropriate_link.html' with object=comment %}
      {% include 'likes/partials/like_link.html' with object=comment %}
    </div>
  {% endfor %}

  <form action="{% url 'comments:add' object.uuid %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit">
  </form>
</div>
{% endcomment %}

<div class="comment-box" data-api-url="{% url 'api:comments:comments-list' %}" data-uuid="{{ object.uuid }}" data-profile-picture="{{ request.user.profile_picture }}"></div>
