@font-face {
  font-family: "streamline-30px-filled-in";
  src: url("../fonts/streamline-icon-font/streamline-30px-filled-in.eot");
  src: url("../fonts/streamline-icon-font/streamline-30px-filled-in.eot?#iefix") format("embedded-opentype"), url("../fonts/streamline-icon-font/streamline-30px-filled-in.woff") format("woff"), url("../fonts/streamline-icon-font/streamline-30px-filled-in.ttf") format("truetype"), url("../fonts/streamline-icon-font/streamline-30px-filled-in.svg#streamline-30px-filled-in") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon-filled-]:before {
  font-family: "streamline-30px-filled-in" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-filled-"]:before,
[class*=" icon-filled-"]:before {
  font-family: "streamline-30px-filled-in" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-filled-bin-1:before {
  content: "a"; }

.icon-filled-bin-2:before {
  content: "b"; }

.icon-filled-binocular:before {
  content: "c"; }

.icon-filled-bomb:before {
  content: "d"; }

.icon-filled-clip-1:before {
  content: "e"; }

.icon-filled-clip-2:before {
  content: "f"; }

.icon-filled-crosshair-1:before {
  content: "g"; }

.icon-filled-crosshair-2:before {
  content: "h"; }

.icon-filled-crosshair-3:before {
  content: "i"; }

.icon-filled-cutter:before {
  content: "j"; }

.icon-filled-delete-1:before {
  content: "k"; }

.icon-filled-delete-2:before {
  content: "l"; }

.icon-filled-edit-1:before {
  content: "m"; }

.icon-filled-edit-2:before {
  content: "n"; }

.icon-filled-edit-3:before {
  content: "o"; }

.icon-filled-hide:before {
  content: "p"; }

.icon-filled-ink:before {
  content: "q"; }

.icon-filled-key-1:before {
  content: "r"; }

.icon-filled-key-2:before {
  content: "s"; }

.icon-filled-link-1:before {
  content: "t"; }

.icon-filled-link-2:before {
  content: "u"; }

.icon-filled-link-3:before {
  content: "v"; }

.icon-filled-link-broken-1:before {
  content: "w"; }

.icon-filled-link-broken-2:before {
  content: "x"; }

.icon-filled-lock-1:before {
  content: "y"; }

.icon-filled-lock-2:before {
  content: "z"; }

.icon-filled-lock-3:before {
  content: "A"; }

.icon-filled-lock-4:before {
  content: "B"; }

.icon-filled-lock-5:before {
  content: "C"; }

.icon-filled-lock-unlock-1:before {
  content: "D"; }

.icon-filled-lock-unlock-2:before {
  content: "E"; }

.icon-filled-magnifier:before {
  content: "F"; }

.icon-filled-pen-1:before {
  content: "G"; }

.icon-filled-pen-2:before {
  content: "H"; }

.icon-filled-pen-3:before {
  content: "I"; }

.icon-filled-pen-4:before {
  content: "J"; }

.icon-filled-pencil-1:before {
  content: "K"; }

.icon-filled-pencil-2:before {
  content: "L"; }

.icon-filled-pencil-3:before {
  content: "M"; }

.icon-filled-pin-1:before {
  content: "N"; }

.icon-filled-pin-2:before {
  content: "O"; }

.icon-filled-power-1:before {
  content: "P"; }

.icon-filled-power-2:before {
  content: "Q"; }

.icon-filled-preview-1:before {
  content: "R"; }

.icon-filled-preview-2:before {
  content: "S"; }

.icon-filled-scissor-1:before {
  content: "T"; }

.icon-filled-scissor-2:before {
  content: "U"; }

.icon-filled-skull-1:before {
  content: "V"; }

.icon-filled-skull-2:before {
  content: "W"; }

.icon-filled-type-1:before {
  content: "X"; }

.icon-filled-type-2:before {
  content: "Y"; }

.icon-filled-type-3:before {
  content: "Z"; }

.icon-filled-type-4:before {
  content: "0"; }

.icon-filled-zoom-area:before {
  content: "1"; }

.icon-filled-zoom-in:before {
  content: "2"; }

.icon-filled-zoom-out:before {
  content: "3"; }

.icon-filled-cursor-1:before {
  content: "4"; }

.icon-filled-cursor-2:before {
  content: "5"; }

.icon-filled-cursor-3:before {
  content: "6"; }

.icon-filled-cursor-6:before {
  content: "7"; }

.icon-filled-cursor-move:before {
  content: "8"; }

.icon-filled-cursor-select-area:before {
  content: "9"; }

.icon-filled-cursors:before {
  content: "!"; }

.icon-filled-hand:before {
  content: "\""; }

.icon-filled-hand-block:before {
  content: "#"; }

.icon-filled-hand-grab-1:before {
  content: "$"; }

.icon-filled-hand-grab-2:before {
  content: "%"; }

.icon-filled-hand-point:before {
  content: "&"; }

.icon-filled-hand-touch-1:before {
  content: "'"; }

.icon-filled-hand-touch-2:before {
  content: "("; }

.icon-filled-hand-touch-3:before {
  content: ")"; }

.icon-filled-hand-touch-4:before {
  content: "*"; }

.icon-filled-bookmark-1:before {
  content: "+"; }

.icon-filled-bookmark-2:before {
  content: ","; }

.icon-filled-bookmark-3:before {
  content: "-"; }

.icon-filled-bookmark-4:before {
  content: "."; }

.icon-filled-tag-1:before {
  content: "/"; }

.icon-filled-tag-2:before {
  content: ":"; }

.icon-filled-tag-add:before {
  content: ";"; }

.icon-filled-tag-delete:before {
  content: "<"; }

.icon-filled-tags-1:before {
  content: "="; }

.icon-filled-tags-2:before {
  content: ">"; }

.icon-filled-anchor-point-1:before {
  content: "?"; }

.icon-filled-anchor-point-2:before {
  content: "@"; }

.icon-filled-arrange-1:before {
  content: "["; }

.icon-filled-arrange-2:before {
  content: "]"; }

.icon-filled-board:before {
  content: "^"; }

.icon-filled-brush-1:before {
  content: "_"; }

.icon-filled-brush-2:before {
  content: "`"; }

.icon-filled-bucket:before {
  content: "{"; }

.icon-filled-crop:before {
  content: "|"; }

.icon-filled-dropper-1:before {
  content: "}"; }

.icon-filled-dropper-2:before {
  content: "~"; }

.icon-filled-dropper-3:before {
  content: "\\"; }

.icon-filled-glue:before {
  content: "\e000"; }

.icon-filled-grid:before {
  content: "\e001"; }

.icon-filled-layers:before {
  content: "\e002"; }

.icon-filled-magic-wand-1:before {
  content: "\e003"; }

.icon-filled-magic-wand-2:before {
  content: "\e004"; }

.icon-filled-magnet:before {
  content: "\e005"; }

.icon-filled-marker:before {
  content: "\e006"; }

.icon-filled-palette:before {
  content: "\e007"; }

.icon-filled-pen-5:before {
  content: "\e008"; }

.icon-filled-pen-6:before {
  content: "\e009"; }

.icon-filled-quill:before {
  content: "\e00a"; }

.icon-filled-reflect:before {
  content: "\e00b"; }

.icon-filled-roller:before {
  content: "\e00c"; }

.icon-filled-ruler-1:before {
  content: "\e00d"; }

.icon-filled-ruler-2:before {
  content: "\e00e"; }

.icon-filled-scale-diagonal-1:before {
  content: "\e00f"; }

.icon-filled-scale-diagonal-2:before {
  content: "\e010"; }

.icon-filled-scale-horizontal:before {
  content: "\e011"; }

.icon-filled-scale-tool-1:before {
  content: "\e012"; }

.icon-filled-scale-tool-2:before {
  content: "\e013"; }

.icon-filled-scale-tool-3:before {
  content: "\e014"; }

.icon-filled-scale-vertical:before {
  content: "\e015"; }

.icon-filled-shear-tool:before {
  content: "\e016"; }

.icon-filled-spray:before {
  content: "\e017"; }

.icon-filled-stamp:before {
  content: "\e018"; }

.icon-filled-stationery-1:before {
  content: "\e019"; }

.icon-filled-stationery-2:before {
  content: "\e01a"; }

.icon-filled-stationery-3:before {
  content: "\e01b"; }

.icon-filled-vector:before {
  content: "\e01c"; }

.icon-filled-award-1:before {
  content: "\e01d"; }

.icon-filled-award-2:before {
  content: "\e01e"; }

.icon-filled-award-3:before {
  content: "\e01f"; }

.icon-filled-award-4:before {
  content: "\e020"; }

.icon-filled-award-5:before {
  content: "\e021"; }

.icon-filled-award-6:before {
  content: "\e022"; }

.icon-filled-crown-1:before {
  content: "\e023"; }

.icon-filled-crown-2:before {
  content: "\e024"; }

.icon-filled-crown-3:before {
  content: "\e025"; }

.icon-filled-fire:before {
  content: "\e026"; }

.icon-filled-flag-1:before {
  content: "\e027"; }

.icon-filled-flag-2:before {
  content: "\e028"; }

.icon-filled-flag-3:before {
  content: "\e029"; }

.icon-filled-flag-4:before {
  content: "\e02a"; }

.icon-filled-flag-5:before {
  content: "\e02b"; }

.icon-filled-flag-6:before {
  content: "\e02c"; }

.icon-filled-flag-7:before {
  content: "\e02d"; }

.icon-filled-flag-8:before {
  content: "\e02e"; }

.icon-filled-google-plus-1:before {
  content: "\e02f"; }

.icon-filled-google-plus-2:before {
  content: "\e030"; }

.icon-filled-hand-like-1:before {
  content: "\e031"; }

.icon-filled-hand-like-2:before {
  content: "\e032"; }

.icon-filled-hand-unlike-1:before {
  content: "\e033"; }

.icon-filled-hand-unlike-2:before {
  content: "\e034"; }

.icon-filled-heart-1:before {
  content: "\e035"; }

.icon-filled-heart-2:before {
  content: "\e036"; }

.icon-filled-heart-angel:before {
  content: "\e037"; }

.icon-filled-heart-broken:before {
  content: "\e038"; }

.icon-filled-heart-minus:before {
  content: "\e039"; }

.icon-filled-heart-plus:before {
  content: "\e03a"; }

.icon-filled-present:before {
  content: "\e03b"; }

.icon-filled-rank-1:before {
  content: "\e03c"; }

.icon-filled-rank-2:before {
  content: "\e03d"; }

.icon-filled-ribbon:before {
  content: "\e03e"; }

.icon-filled-star-1:before {
  content: "\e03f"; }

.icon-filled-star-2:before {
  content: "\e040"; }

.icon-filled-star-3:before {
  content: "\e041"; }

.icon-filled-star-4:before {
  content: "\e042"; }

.icon-filled-star-5:before {
  content: "\e043"; }

.icon-filled-star-6:before {
  content: "\e044"; }

.icon-filled-star-7:before {
  content: "\e045"; }

.icon-filled-star-8:before {
  content: "\e046"; }

.icon-filled-star-9:before {
  content: "\e047"; }

.icon-filled-star-10:before {
  content: "\e048"; }

.icon-filled-trophy:before {
  content: "\e049"; }

.icon-filled-baloon:before {
  content: "\e04a"; }

.icon-filled-bubble-1:before {
  content: "\e04b"; }

.icon-filled-bubble-2:before {
  content: "\e04c"; }

.icon-filled-bubble-add-1:before {
  content: "\e04d"; }

.icon-filled-bubble-add-2:before {
  content: "\e04e"; }

.icon-filled-bubble-add-3:before {
  content: "\e04f"; }

.icon-filled-bubble-ask-1:before {
  content: "\e050"; }

.icon-filled-bubble-ask-2:before {
  content: "\e051"; }

.icon-filled-bubble-attention-2:before {
  content: "\e052"; }

.icon-filled-bubble-attention-3:before {
  content: "\e053"; }

.icon-filled-bubble-attention-4:before {
  content: "\e054"; }

.icon-filled-bubble-attention-6:before {
  content: "\e055"; }

.icon-filled-bubble-attention-7:before {
  content: "\e056"; }

.icon-filled-bubble-block-1:before {
  content: "\e057"; }

.icon-filled-bubble-block-2:before {
  content: "\e058"; }

.icon-filled-bubble-block-3:before {
  content: "\e059"; }

.icon-filled-bubble-chat-1:before {
  content: "\e05a"; }

.icon-filled-bubble-chat-2:before {
  content: "\e05b"; }

.icon-filled-bubble-check-1:before {
  content: "\e05c"; }

.icon-filled-bubble-check-2:before {
  content: "\e05d"; }

.icon-filled-bubble-check-3:before {
  content: "\e05e"; }

.icon-filled-bubble-comment-1:before {
  content: "\e05f"; }

.icon-filled-bubble-comment-2:before {
  content: "\e060"; }

.icon-filled-bubble-conversation-1:before {
  content: "\e061"; }

.icon-filled-bubble-conversation-2:before {
  content: "\e062"; }

.icon-filled-bubble-conversation-3:before {
  content: "\e063"; }

.icon-filled-bubble-conversation-4:before {
  content: "\e064"; }

.icon-filled-bubble-conversation-5:before {
  content: "\e065"; }

.icon-filled-bubble-conversation-6:before {
  content: "\e066"; }

.icon-filled-bubble-delete-1:before {
  content: "\e067"; }

.icon-filled-bubble-delete-2:before {
  content: "\e068"; }

.icon-filled-bubble-delete-3:before {
  content: "\e069"; }

.icon-filled-bubble-edit-1:before {
  content: "\e06a"; }

.icon-filled-bubble-edit-2:before {
  content: "\e06b"; }

.icon-filled-bubble-edit-3:before {
  content: "\e06c"; }

.icon-filled-bubble-heart-1:before {
  content: "\e06d"; }

.icon-filled-bubble-heart-2:before {
  content: "\e06e"; }

.icon-filled-bubble-information:before {
  content: "\e06f"; }

.icon-filled-bubble-information-1:before {
  content: "\e070"; }

.icon-filled-bubble-minus-1:before {
  content: "\e071"; }

.icon-filled-bubble-minus-2:before {
  content: "\e072"; }

.icon-filled-bubble-minus-3:before {
  content: "\e073"; }

.icon-filled-bubble-quote-1:before {
  content: "\e074"; }

.icon-filled-bubble-quote-2:before {
  content: "\e075"; }

.icon-filled-bubble-smiley-1:before {
  content: "\e076"; }

.icon-filled-bubble-smiley-2:before {
  content: "\e077"; }

.icon-filled-bubble-smiley-3:before {
  content: "\e078"; }

.icon-filled-bubble-smiley-4:before {
  content: "\e079"; }

.icon-filled-bubble-star-1:before {
  content: "\e07a"; }

.icon-filled-bubble-star-2:before {
  content: "\e07b"; }

.icon-filled-bubble-star-3:before {
  content: "\e07c"; }

.icon-filled-chat-1:before {
  content: "\e07d"; }

.icon-filled-chat-2:before {
  content: "\e07e"; }

.icon-filled-chat-3:before {
  content: "\e07f"; }

.icon-filled-chat-4:before {
  content: "\e080"; }

.icon-filled-chat-5:before {
  content: "\e081"; }

.icon-filled-chat-6:before {
  content: "\e082"; }

.icon-filled-chat-7:before {
  content: "\e083"; }

.icon-filled-smiley-happy-1:before {
  content: "\e084"; }

.icon-filled-smiley-happy-2:before {
  content: "\e085"; }

.icon-filled-smiley-happy-3:before {
  content: "\e086"; }

.icon-filled-smiley-happy-4:before {
  content: "\e087"; }

.icon-filled-smiley-happy-5:before {
  content: "\e088"; }

.icon-filled-smiley-sad-1:before {
  content: "\e089"; }

.icon-filled-smiley-surprise:before {
  content: "\e08a"; }

.icon-filled-smiley-wink:before {
  content: "\e08b"; }

.icon-filled-call-1:before {
  content: "\e08c"; }

.icon-filled-call-2:before {
  content: "\e08d"; }

.icon-filled-call-3:before {
  content: "\e08e"; }

.icon-filled-call-4:before {
  content: "\e08f"; }

.icon-filled-call-add:before {
  content: "\e090"; }

.icon-filled-call-block:before {
  content: "\e091"; }

.icon-filled-call-delete:before {
  content: "\e092"; }

.icon-filled-call-in:before {
  content: "\e093"; }

.icon-filled-call-minus:before {
  content: "\e094"; }

.icon-filled-call-out:before {
  content: "\e095"; }

.icon-filled-contact:before {
  content: "\e096"; }

.icon-filled-fax:before {
  content: "\e097"; }

.icon-filled-hang-up:before {
  content: "\e098"; }

.icon-filled-message:before {
  content: "\e099"; }

.icon-filled-mobile-phone-1:before {
  content: "\e09a"; }

.icon-filled-mobile-phone-2:before {
  content: "\e09b"; }

.icon-filled-phone-1:before {
  content: "\e09c"; }

.icon-filled-phone-2:before {
  content: "\e09d"; }

.icon-filled-phone-3:before {
  content: "\e09e"; }

.icon-filled-phone-4:before {
  content: "\e09f"; }

.icon-filled-phone-vibration:before {
  content: "\e0a0"; }

.icon-filled-signal-fine:before {
  content: "\e0a1"; }

.icon-filled-signal-full:before {
  content: "\e0a2"; }

.icon-filled-signal-high:before {
  content: "\e0a3"; }

.icon-filled-signal-no:before {
  content: "\e0a4"; }

.icon-filled-signal-poor:before {
  content: "\e0a5"; }

.icon-filled-signal-weak:before {
  content: "\e0a6"; }

.icon-filled-smartphone:before {
  content: "\e0a7"; }

.icon-filled-tape:before {
  content: "\e0a8"; }

.icon-filled-camera-symbol-1:before {
  content: "\e0a9"; }

.icon-filled-camera-symbol-2:before {
  content: "\e0aa"; }

.icon-filled-camera-symbol-3:before {
  content: "\e0ab"; }

.icon-filled-headphone:before {
  content: "\e0ac"; }

.icon-filled-antenna-1:before {
  content: "\e0ad"; }

.icon-filled-antenna-2:before {
  content: "\e0ae"; }

.icon-filled-antenna-3:before {
  content: "\e0af"; }

.icon-filled-hotspot-1:before {
  content: "\e0b0"; }

.icon-filled-hotspot-2:before {
  content: "\e0b1"; }

.icon-filled-link:before {
  content: "\e0b2"; }

.icon-filled-megaphone-1:before {
  content: "\e0b3"; }

.icon-filled-megaphone-2:before {
  content: "\e0b4"; }

.icon-filled-radar:before {
  content: "\e0b5"; }

.icon-filled-rss-1:before {
  content: "\e0b6"; }

.icon-filled-rss-2:before {
  content: "\e0b7"; }

.icon-filled-satellite:before {
  content: "\e0b8"; }

.icon-filled-address-1:before {
  content: "\e0b9"; }

.icon-filled-address-2:before {
  content: "\e0ba"; }

.icon-filled-address-3:before {
  content: "\e0bb"; }

.icon-filled-forward:before {
  content: "\e0bc"; }

.icon-filled-inbox-1:before {
  content: "\e0bd"; }

.icon-filled-inbox-2:before {
  content: "\e0be"; }

.icon-filled-inbox-3:before {
  content: "\e0bf"; }

.icon-filled-inbox-4:before {
  content: "\e0c0"; }

.icon-filled-letter-1:before {
  content: "\e0c1"; }

.icon-filled-letter-2:before {
  content: "\e0c2"; }

.icon-filled-letter-3:before {
  content: "\e0c3"; }

.icon-filled-letter-4:before {
  content: "\e0c4"; }

.icon-filled-letter-5:before {
  content: "\e0c5"; }

.icon-filled-mail-1:before {
  content: "\e0c6"; }

.icon-filled-mail-2:before {
  content: "\e0c7"; }

.icon-filled-mail-add:before {
  content: "\e0c8"; }

.icon-filled-mail-attention:before {
  content: "\e0c9"; }

.icon-filled-mail-block:before {
  content: "\e0ca"; }

.icon-filled-mail-box-1:before {
  content: "\e0cb"; }

.icon-filled-mail-box-2:before {
  content: "\e0cc"; }

.icon-filled-mail-box-3:before {
  content: "\e0cd"; }

.icon-filled-mail-checked:before {
  content: "\e0ce"; }

.icon-filled-mail-compose:before {
  content: "\e0cf"; }

.icon-filled-mail-delete:before {
  content: "\e0d0"; }

.icon-filled-mail-favorite:before {
  content: "\e0d1"; }

.icon-filled-mail-inbox:before {
  content: "\e0d2"; }

.icon-filled-mail-lock:before {
  content: "\e0d3"; }

.icon-filled-mail-minus:before {
  content: "\e0d4"; }

.icon-filled-mail-read:before {
  content: "\e0d5"; }

.icon-filled-mail-recieved-1:before {
  content: "\e0d6"; }

.icon-filled-mail-recieved-2:before {
  content: "\e0d7"; }

.icon-filled-mail-search-1:before {
  content: "\e0d8"; }

.icon-filled-mail-search-2:before {
  content: "\e0d9"; }

.icon-filled-mail-sent-1:before {
  content: "\e0da"; }

.icon-filled-mail-sent-2:before {
  content: "\e0db"; }

.icon-filled-mail-setting:before {
  content: "\e0dc"; }

.icon-filled-mail-star:before {
  content: "\e0dd"; }

.icon-filled-mail-sync:before {
  content: "\e0de"; }

.icon-filled-mail-time:before {
  content: "\e0df"; }

.icon-filled-outbox-1:before {
  content: "\e0e0"; }

.icon-filled-outbox-2:before {
  content: "\e0e1"; }

.icon-filled-plane-paper-1:before {
  content: "\e0e2"; }

.icon-filled-plane-paper-2:before {
  content: "\e0e3"; }

.icon-filled-reply-mail-1:before {
  content: "\e0e4"; }

.icon-filled-reply-mail-2:before {
  content: "\e0e5"; }

.icon-filled-connection-1:before {
  content: "\e0e6"; }

.icon-filled-connection-2:before {
  content: "\e0e7"; }

.icon-filled-connection-3:before {
  content: "\e0e8"; }

.icon-filled-contacts-1:before {
  content: "\e0e9"; }

.icon-filled-contacts-2:before {
  content: "\e0ea"; }

.icon-filled-contacts-3:before {
  content: "\e0eb"; }

.icon-filled-contacts-4:before {
  content: "\e0ec"; }

.icon-filled-female:before {
  content: "\e0ed"; }

.icon-filled-gender:before {
  content: "\e0ee"; }

.icon-filled-gender-female:before {
  content: "\e0ef"; }

.icon-filled-gender-male:before {
  content: "\e0f0"; }

.icon-filled-id-1:before {
  content: "\e0f1"; }

.icon-filled-id-2:before {
  content: "\e0f2"; }

.icon-filled-id-3:before {
  content: "\e0f3"; }

.icon-filled-id-4:before {
  content: "\e0f4"; }

.icon-filled-id-5:before {
  content: "\e0f5"; }

.icon-filled-id-6:before {
  content: "\e0f6"; }

.icon-filled-id-7:before {
  content: "\e0f7"; }

.icon-filled-id-8:before {
  content: "\e0f8"; }

.icon-filled-male:before {
  content: "\e0f9"; }

.icon-filled-profile-1:before {
  content: "\e0fa"; }

.icon-filled-profile-2:before {
  content: "\e0fb"; }

.icon-filled-profile-3:before {
  content: "\e0fc"; }

.icon-filled-profile-4:before {
  content: "\e0fd"; }

.icon-filled-profile-5:before {
  content: "\e0fe"; }

.icon-filled-profile-6:before {
  content: "\e0ff"; }

.icon-filled-profile-athlete:before {
  content: "\e100"; }

.icon-filled-profile-bussiness-man:before {
  content: "\e101"; }

.icon-filled-profile-cook:before {
  content: "\e102"; }

.icon-filled-profile-cop:before {
  content: "\e103"; }

.icon-filled-profile-doctor-1:before {
  content: "\e104"; }

.icon-filled-profile-doctor-2:before {
  content: "\e105"; }

.icon-filled-profile-gentleman-1:before {
  content: "\e106"; }

.icon-filled-profile-gentleman-2:before {
  content: "\e107"; }

.icon-filled-profile-graduate:before {
  content: "\e108"; }

.icon-filled-profile-king:before {
  content: "\e109"; }

.icon-filled-profile-lady-1:before {
  content: "\e10a"; }

.icon-filled-profile-lady-2:before {
  content: "\e10b"; }

.icon-filled-profile-man:before {
  content: "\e10c"; }

.icon-filled-profile-nurse-1:before {
  content: "\e10d"; }

.icon-filled-profile-nurse-2:before {
  content: "\e10e"; }

.icon-filled-profile-prisoner:before {
  content: "\e10f"; }

.icon-filled-profile-serviceman-1:before {
  content: "\e110"; }

.icon-filled-profile-serviceman-2:before {
  content: "\e111"; }

.icon-filled-profile-spy:before {
  content: "\e112"; }

.icon-filled-profile-teacher:before {
  content: "\e113"; }

.icon-filled-profile-thief:before {
  content: "\e114"; }

.icon-filled-user-1:before {
  content: "\e115"; }

.icon-filled-user-2:before {
  content: "\e116"; }

.icon-filled-user-add-1:before {
  content: "\e117"; }

.icon-filled-user-add-2:before {
  content: "\e118"; }

.icon-filled-user-block-1:before {
  content: "\e119"; }

.icon-filled-user-block-2:before {
  content: "\e11a"; }

.icon-filled-user-checked-1:before {
  content: "\e11b"; }

.icon-filled-user-checked-2:before {
  content: "\e11c"; }

.icon-filled-user-delete-1:before {
  content: "\e11d"; }

.icon-filled-user-delete-2:before {
  content: "\e11e"; }

.icon-filled-user-edit-1:before {
  content: "\e11f"; }

.icon-filled-user-edit-2:before {
  content: "\e120"; }

.icon-filled-user-heart-1:before {
  content: "\e121"; }

.icon-filled-user-heart-2:before {
  content: "\e122"; }

.icon-filled-user-lock:before {
  content: "\e123"; }

.icon-filled-user-lock-1:before {
  content: "\e124"; }

.icon-filled-user-minus-1:before {
  content: "\e125"; }

.icon-filled-user-minus-2:before {
  content: "\e126"; }

.icon-filled-user-search-1:before {
  content: "\e127"; }

.icon-filled-user-search-2:before {
  content: "\e128"; }

.icon-filled-user-setting-1:before {
  content: "\e129"; }

.icon-filled-user-setting-2:before {
  content: "\e12a"; }

.icon-filled-user-star-1:before {
  content: "\e12b"; }

.icon-filled-user-star-2:before {
  content: "\e12c"; }

.icon-filled-basket-1:before {
  content: "\e12d"; }

.icon-filled-basket-2:before {
  content: "\e12e"; }

.icon-filled-basket-3:before {
  content: "\e12f"; }

.icon-filled-basket-add:before {
  content: "\e130"; }

.icon-filled-basket-minus:before {
  content: "\e131"; }

.icon-filled-briefcase-2:before {
  content: "\e132"; }

.icon-filled-cart-1:before {
  content: "\e133"; }

.icon-filled-cart-2:before {
  content: "\e134"; }

.icon-filled-cart-3:before {
  content: "\e135"; }

.icon-filled-cart-4:before {
  content: "\e136"; }

.icon-filled-cut:before {
  content: "\e137"; }

.icon-filled-hand-bag-1:before {
  content: "\e138"; }

.icon-filled-hand-bag-2:before {
  content: "\e139"; }

.icon-filled-purse-1:before {
  content: "\e13a"; }

.icon-filled-purse-2:before {
  content: "\e13b"; }

.icon-filled-qr-code:before {
  content: "\e13c"; }

.icon-filled-receipt-1:before {
  content: "\e13d"; }

.icon-filled-receipt-2:before {
  content: "\e13e"; }

.icon-filled-receipt-3:before {
  content: "\e13f"; }

.icon-filled-receipt-4:before {
  content: "\e140"; }

.icon-filled-shopping-1:before {
  content: "\e141"; }

.icon-filled-shopping-bag-1:before {
  content: "\e142"; }

.icon-filled-shopping-bag-2:before {
  content: "\e143"; }

.icon-filled-shopping-bag-3:before {
  content: "\e144"; }

.icon-filled-sign-new-1:before {
  content: "\e145"; }

.icon-filled-sign-new-2:before {
  content: "\e146"; }

.icon-filled-sign-park:before {
  content: "\e147"; }

.icon-filled-sign-star:before {
  content: "\e148"; }

.icon-filled-trolley-1:before {
  content: "\e149"; }

.icon-filled-trolley-2:before {
  content: "\e14a"; }

.icon-filled-trolley-3:before {
  content: "\e14b"; }

.icon-filled-trolley-load:before {
  content: "\e14c"; }

.icon-filled-trolley-off:before {
  content: "\e14d"; }

.icon-filled-wallet-1:before {
  content: "\e14e"; }

.icon-filled-wallet-2:before {
  content: "\e14f"; }

.icon-filled-wallet-3:before {
  content: "\e150"; }

.icon-filled-camera-1:before {
  content: "\e151"; }

.icon-filled-camera-2:before {
  content: "\e152"; }

.icon-filled-camera-3:before {
  content: "\e153"; }

.icon-filled-camera-4:before {
  content: "\e154"; }

.icon-filled-camera-5:before {
  content: "\e155"; }

.icon-filled-camera-back:before {
  content: "\e156"; }

.icon-filled-camera-focus:before {
  content: "\e157"; }

.icon-filled-camera-frames:before {
  content: "\e158"; }

.icon-filled-camera-front:before {
  content: "\e159"; }

.icon-filled-camera-graph-1:before {
  content: "\e15a"; }

.icon-filled-camera-graph-2:before {
  content: "\e15b"; }

.icon-filled-camera-landscape:before {
  content: "\e15c"; }

.icon-filled-camera-lens-1:before {
  content: "\e15d"; }

.icon-filled-camera-lens-2:before {
  content: "\e15e"; }

.icon-filled-camera-light:before {
  content: "\e15f"; }

.icon-filled-camera-portrait:before {
  content: "\e160"; }

.icon-filled-camera-view:before {
  content: "\e161"; }

.icon-filled-film-1:before {
  content: "\e162"; }

.icon-filled-film-2:before {
  content: "\e163"; }

.icon-filled-photo-1:before {
  content: "\e164"; }

.icon-filled-photo-2:before {
  content: "\e165"; }

.icon-filled-photo-frame:before {
  content: "\e166"; }

.icon-filled-photos-1:before {
  content: "\e167"; }

.icon-filled-photos-2:before {
  content: "\e168"; }

.icon-filled-polaroid:before {
  content: "\e169"; }

.icon-filled-signal-camera-1:before {
  content: "\e16a"; }

.icon-filled-signal-camera-2:before {
  content: "\e16b"; }

.icon-filled-user-photo:before {
  content: "\e16c"; }

.icon-filled-backward-1:before {
  content: "\e16d"; }

.icon-filled-dvd-player:before {
  content: "\e16e"; }

.icon-filled-eject-1:before {
  content: "\e16f"; }

.icon-filled-film-3:before {
  content: "\e170"; }

.icon-filled-forward-1:before {
  content: "\e171"; }

.icon-filled-handy-cam:before {
  content: "\e172"; }

.icon-filled-movie-play-1:before {
  content: "\e173"; }

.icon-filled-movie-play-2:before {
  content: "\e174"; }

.icon-filled-movie-play-3:before {
  content: "\e175"; }

.icon-filled-next-1:before {
  content: "\e176"; }

.icon-filled-pause-1:before {
  content: "\e177"; }

.icon-filled-play-1:before {
  content: "\e178"; }

.icon-filled-player:before {
  content: "\e179"; }

.icon-filled-previous-1:before {
  content: "\e17a"; }

.icon-filled-record-1:before {
  content: "\e17b"; }

.icon-filled-slate:before {
  content: "\e17c"; }

.icon-filled-stop-1:before {
  content: "\e17d"; }

.icon-filled-television:before {
  content: "\e17e"; }

.icon-filled-video-camera-1:before {
  content: "\e17f"; }

.icon-filled-video-camera-2:before {
  content: "\e180"; }

.icon-filled-backward-2:before {
  content: "\e181"; }

.icon-filled-cd:before {
  content: "\e182"; }

.icon-filled-eject-2:before {
  content: "\e183"; }

.icon-filled-equalizer-1:before {
  content: "\e184"; }

.icon-filled-equalizer-2:before {
  content: "\e185"; }

.icon-filled-forward-2:before {
  content: "\e186"; }

.icon-filled-gramophone:before {
  content: "\e187"; }

.icon-filled-gramophone-record:before {
  content: "\e188"; }

.icon-filled-guitar:before {
  content: "\e189"; }

.icon-filled-headphone-1:before {
  content: "\e18a"; }

.icon-filled-headphone-2:before {
  content: "\e18b"; }

.icon-filled-microphone-1:before {
  content: "\e18c"; }

.icon-filled-microphone-2:before {
  content: "\e18d"; }

.icon-filled-microphone-3:before {
  content: "\e18e"; }

.icon-filled-movie-play-4:before {
  content: "\e18f"; }

.icon-filled-music-note-1:before {
  content: "\e190"; }

.icon-filled-music-note-3:before {
  content: "\e191"; }

.icon-filled-music-note-4:before {
  content: "\e192"; }

.icon-filled-music-note-5:before {
  content: "\e193"; }

.icon-filled-next-2:before {
  content: "\e194"; }

.icon-filled-notes-1:before {
  content: "\e195"; }

.icon-filled-notes-2:before {
  content: "\e196"; }

.icon-filled-pause-2:before {
  content: "\e197"; }

.icon-filled-piano:before {
  content: "\e198"; }

.icon-filled-play-2:before {
  content: "\e199"; }

.icon-filled-playlist:before {
  content: "\e19a"; }

.icon-filled-previous-2:before {
  content: "\e19b"; }

.icon-filled-radio-1:before {
  content: "\e19c"; }

.icon-filled-radio-2:before {
  content: "\e19d"; }

.icon-filled-record-2:before {
  content: "\e19e"; }

.icon-filled-recorder:before {
  content: "\e19f"; }

.icon-filled-saxophone:before {
  content: "\e1a0"; }

.icon-filled-speaker-1:before {
  content: "\e1a1"; }

.icon-filled-speaker-2:before {
  content: "\e1a2"; }

.icon-filled-speaker-3:before {
  content: "\e1a3"; }

.icon-filled-stop-2:before {
  content: "\e1a4"; }

.icon-filled-tape-1:before {
  content: "\e1a5"; }

.icon-filled-trumpet:before {
  content: "\e1a6"; }

.icon-filled-volume-down-1:before {
  content: "\e1a7"; }

.icon-filled-volume-down-2:before {
  content: "\e1a8"; }

.icon-filled-volume-loud-1:before {
  content: "\e1a9"; }

.icon-filled-volume-loud-2:before {
  content: "\e1aa"; }

.icon-filled-volume-low-1:before {
  content: "\e1ab"; }

.icon-filled-volume-low-2:before {
  content: "\e1ac"; }

.icon-filled-volume-medium-1:before {
  content: "\e1ad"; }

.icon-filled-volume-medium-2:before {
  content: "\e1ae"; }

.icon-filled-volume-mute-1:before {
  content: "\e1af"; }

.icon-filled-volume-mute-2:before {
  content: "\e1b0"; }

.icon-filled-volume-mute-3:before {
  content: "\e1b1"; }

.icon-filled-volume-up-1:before {
  content: "\e1b2"; }

.icon-filled-volume-up-2:before {
  content: "\e1b3"; }

.icon-filled-walkman:before {
  content: "\e1b4"; }

.icon-filled-cloud:before {
  content: "\e1b5"; }

.icon-filled-cloud-add:before {
  content: "\e1b6"; }

.icon-filled-cloud-checked:before {
  content: "\e1b7"; }

.icon-filled-cloud-delete:before {
  content: "\e1b8"; }

.icon-filled-cloud-download:before {
  content: "\e1b9"; }

.icon-filled-cloud-minus:before {
  content: "\e1ba"; }

.icon-filled-cloud-refresh:before {
  content: "\e1bb"; }

.icon-filled-cloud-sync:before {
  content: "\e1bc"; }

.icon-filled-cloud-upload:before {
  content: "\e1bd"; }

.icon-filled-download-1:before {
  content: "\e1be"; }

.icon-filled-download-2:before {
  content: "\e1bf"; }

.icon-filled-download-3:before {
  content: "\e1c0"; }

.icon-filled-download-4:before {
  content: "\e1c1"; }

.icon-filled-download-5:before {
  content: "\e1c2"; }

.icon-filled-download-6:before {
  content: "\e1c3"; }

.icon-filled-download-7:before {
  content: "\e1c4"; }

.icon-filled-download-8:before {
  content: "\e1c5"; }

.icon-filled-download-9:before {
  content: "\e1c6"; }

.icon-filled-download-10:before {
  content: "\e1c7"; }

.icon-filled-download-11:before {
  content: "\e1c8"; }

.icon-filled-download-12:before {
  content: "\e1c9"; }

.icon-filled-download-13:before {
  content: "\e1ca"; }

.icon-filled-download-14:before {
  content: "\e1cb"; }

.icon-filled-download-15:before {
  content: "\e1cc"; }

.icon-filled-download-file:before {
  content: "\e1cd"; }

.icon-filled-download-folder:before {
  content: "\e1ce"; }

.icon-filled-goal-1:before {
  content: "\e1cf"; }

.icon-filled-goal-2:before {
  content: "\e1d0"; }

.icon-filled-transfer-1:before {
  content: "\e1d1"; }

.icon-filled-transfer-2:before {
  content: "\e1d2"; }

.icon-filled-transfer-3:before {
  content: "\e1d3"; }

.icon-filled-transfer-4:before {
  content: "\e1d4"; }

.icon-filled-transfer-5:before {
  content: "\e1d5"; }

.icon-filled-transfer-6:before {
  content: "\e1d6"; }

.icon-filled-transfer-7:before {
  content: "\e1d7"; }

.icon-filled-transfer-8:before {
  content: "\e1d8"; }

.icon-filled-transfer-9:before {
  content: "\e1d9"; }

.icon-filled-transfer-10:before {
  content: "\e1da"; }

.icon-filled-transfer-11:before {
  content: "\e1db"; }

.icon-filled-transfer-12:before {
  content: "\e1dc"; }

.icon-filled-upload-1:before {
  content: "\e1dd"; }

.icon-filled-upload-2:before {
  content: "\e1de"; }

.icon-filled-upload-3:before {
  content: "\e1df"; }

.icon-filled-upload-4:before {
  content: "\e1e0"; }

.icon-filled-upload-5:before {
  content: "\e1e1"; }

.icon-filled-upload-6:before {
  content: "\e1e2"; }

.icon-filled-upload-7:before {
  content: "\e1e3"; }

.icon-filled-upload-8:before {
  content: "\e1e4"; }

.icon-filled-upload-9:before {
  content: "\e1e5"; }

.icon-filled-upload-10:before {
  content: "\e1e6"; }

.icon-filled-upload-11:before {
  content: "\e1e7"; }

.icon-filled-upload-12:before {
  content: "\e1e8"; }

.icon-filled-clipboard-1:before {
  content: "\e1e9"; }

.icon-filled-clipboard-2:before {
  content: "\e1ea"; }

.icon-filled-clipboard-3:before {
  content: "\e1eb"; }

.icon-filled-clipboard-add:before {
  content: "\e1ec"; }

.icon-filled-clipboard-block:before {
  content: "\e1ed"; }

.icon-filled-clipboard-checked:before {
  content: "\e1ee"; }

.icon-filled-clipboard-delete:before {
  content: "\e1ef"; }

.icon-filled-clipboard-edit:before {
  content: "\e1f0"; }

.icon-filled-clipboard-minus:before {
  content: "\e1f1"; }

.icon-filled-document-1:before {
  content: "\e1f2"; }

.icon-filled-document-2:before {
  content: "\e1f3"; }

.icon-filled-file-1:before {
  content: "\e1f4"; }

.icon-filled-file-2:before {
  content: "\e1f5"; }

.icon-filled-file-add:before {
  content: "\e1f6"; }

.icon-filled-file-attention:before {
  content: "\e1f7"; }

.icon-filled-file-block:before {
  content: "\e1f8"; }

.icon-filled-file-bookmark:before {
  content: "\e1f9"; }

.icon-filled-file-checked:before {
  content: "\e1fa"; }

.icon-filled-file-code:before {
  content: "\e1fb"; }

.icon-filled-file-delete:before {
  content: "\e1fc"; }

.icon-filled-file-download:before {
  content: "\e1fd"; }

.icon-filled-file-edit:before {
  content: "\e1fe"; }

.icon-filled-file-favorite-1:before {
  content: "\e1ff"; }

.icon-filled-file-favorite-2:before {
  content: "\e200"; }

.icon-filled-file-graph-1:before {
  content: "\e201"; }

.icon-filled-file-graph-2:before {
  content: "\e202"; }

.icon-filled-file-home:before {
  content: "\e203"; }

.icon-filled-file-image-1:before {
  content: "\e204"; }

.icon-filled-file-image-2:before {
  content: "\e205"; }

.icon-filled-file-list:before {
  content: "\e206"; }

.icon-filled-file-lock:before {
  content: "\e207"; }

.icon-filled-file-media:before {
  content: "\e208"; }

.icon-filled-file-minus:before {
  content: "\e209"; }

.icon-filled-file-music:before {
  content: "\e20a"; }

.icon-filled-file-new:before {
  content: "\e20b"; }

.icon-filled-file-registry:before {
  content: "\e20c"; }

.icon-filled-file-search:before {
  content: "\e20d"; }

.icon-filled-file-setting:before {
  content: "\e20e"; }

.icon-filled-file-sync:before {
  content: "\e20f"; }

.icon-filled-file-table:before {
  content: "\e210"; }

.icon-filled-file-thumbnail:before {
  content: "\e211"; }

.icon-filled-file-time:before {
  content: "\e212"; }

.icon-filled-file-transfer:before {
  content: "\e213"; }

.icon-filled-file-upload:before {
  content: "\e214"; }

.icon-filled-file-zip:before {
  content: "\e215"; }

.icon-filled-files-1:before {
  content: "\e216"; }

.icon-filled-files-2:before {
  content: "\e217"; }

.icon-filled-files-3:before {
  content: "\e218"; }

.icon-filled-files-4:before {
  content: "\e219"; }

.icon-filled-files-5:before {
  content: "\e21a"; }

.icon-filled-files-6:before {
  content: "\e21b"; }

.icon-filled-hand-file-1:before {
  content: "\e21c"; }

.icon-filled-hand-file-2:before {
  content: "\e21d"; }

.icon-filled-note-paper-1:before {
  content: "\e21e"; }

.icon-filled-note-paper-2:before {
  content: "\e21f"; }

.icon-filled-note-paper-add:before {
  content: "\e220"; }

.icon-filled-note-paper-attention:before {
  content: "\e221"; }

.icon-filled-note-paper-block:before {
  content: "\e222"; }

.icon-filled-note-paper-checked:before {
  content: "\e223"; }

.icon-filled-note-paper-delete:before {
  content: "\e224"; }

.icon-filled-note-paper-download:before {
  content: "\e225"; }

.icon-filled-note-paper-edit:before {
  content: "\e226"; }

.icon-filled-note-paper-favorite:before {
  content: "\e227"; }

.icon-filled-note-paper-lock:before {
  content: "\e228"; }

.icon-filled-note-paper-minus:before {
  content: "\e229"; }

.icon-filled-note-paper-search:before {
  content: "\e22a"; }

.icon-filled-note-paper-sync:before {
  content: "\e22b"; }

.icon-filled-note-paper-upload:before {
  content: "\e22c"; }

.icon-filled-print:before {
  content: "\e22d"; }

.icon-filled-folder-1:before {
  content: "\e22e"; }

.icon-filled-folder-2:before {
  content: "\e22f"; }

.icon-filled-folder-3:before {
  content: "\e230"; }

.icon-filled-folder-4:before {
  content: "\e231"; }

.icon-filled-folder-add:before {
  content: "\e232"; }

.icon-filled-folder-attention:before {
  content: "\e233"; }

.icon-filled-folder-block:before {
  content: "\e234"; }

.icon-filled-folder-bookmark:before {
  content: "\e235"; }

.icon-filled-folder-checked:before {
  content: "\e236"; }

.icon-filled-folder-code:before {
  content: "\e237"; }

.icon-filled-folder-delete:before {
  content: "\e238"; }

.icon-filled-folder-download:before {
  content: "\e239"; }

.icon-filled-folder-edit:before {
  content: "\e23a"; }

.icon-filled-folder-favorite:before {
  content: "\e23b"; }

.icon-filled-folder-home:before {
  content: "\e23c"; }

.icon-filled-folder-image:before {
  content: "\e23d"; }

.icon-filled-folder-lock:before {
  content: "\e23e"; }

.icon-filled-folder-media:before {
  content: "\e23f"; }

.icon-filled-folder-minus:before {
  content: "\e240"; }

.icon-filled-folder-music:before {
  content: "\e241"; }

.icon-filled-folder-new:before {
  content: "\e242"; }

.icon-filled-folder-search:before {
  content: "\e243"; }

.icon-filled-folder-setting:before {
  content: "\e244"; }

.icon-filled-folder-share-1:before {
  content: "\e245"; }

.icon-filled-folder-share-2:before {
  content: "\e246"; }

.icon-filled-folder-sync:before {
  content: "\e247"; }

.icon-filled-folder-transfer:before {
  content: "\e248"; }

.icon-filled-folder-upload:before {
  content: "\e249"; }

.icon-filled-folder-zip:before {
  content: "\e24a"; }

.icon-filled-add-1:before {
  content: "\e24b"; }

.icon-filled-add-2:before {
  content: "\e24c"; }

.icon-filled-add-3:before {
  content: "\e24d"; }

.icon-filled-add-4:before {
  content: "\e24e"; }

.icon-filled-add-tag:before {
  content: "\e24f"; }

.icon-filled-arrow-1:before {
  content: "\e250"; }

.icon-filled-arrow-2:before {
  content: "\e251"; }

.icon-filled-arrow-down-1:before {
  content: "\e252"; }

.icon-filled-arrow-down-2:before {
  content: "\e253"; }

.icon-filled-arrow-left-1:before {
  content: "\e254"; }

.icon-filled-arrow-left-2:before {
  content: "\e255"; }

.icon-filled-arrow-move-1:before {
  content: "\e256"; }

.icon-filled-arrow-move-down:before {
  content: "\e257"; }

.icon-filled-arrow-move-left:before {
  content: "\e258"; }

.icon-filled-arrow-move-right:before {
  content: "\e259"; }

.icon-filled-arrow-move-up:before {
  content: "\e25a"; }

.icon-filled-arrow-right-1:before {
  content: "\e25b"; }

.icon-filled-arrow-right-2:before {
  content: "\e25c"; }

.icon-filled-arrow-up-1:before {
  content: "\e25d"; }

.icon-filled-arrow-up-2:before {
  content: "\e25e"; }

.icon-filled-back:before {
  content: "\e25f"; }

.icon-filled-center-expand:before {
  content: "\e260"; }

.icon-filled-center-reduce:before {
  content: "\e261"; }

.icon-filled-delete-1-1:before {
  content: "\e262"; }

.icon-filled-delete-2-1:before {
  content: "\e263"; }

.icon-filled-delete-3:before {
  content: "\e264"; }

.icon-filled-delete-4:before {
  content: "\e265"; }

.icon-filled-delete-tag:before {
  content: "\e266"; }

.icon-filled-expand-horizontal:before {
  content: "\e267"; }

.icon-filled-expand-vertical:before {
  content: "\e268"; }

.icon-filled-forward-3:before {
  content: "\e269"; }

.icon-filled-infinity:before {
  content: "\e26a"; }

.icon-filled-loading:before {
  content: "\e26b"; }

.icon-filled-log-out-1:before {
  content: "\e26c"; }

.icon-filled-loop-1:before {
  content: "\e26d"; }

.icon-filled-loop-2:before {
  content: "\e26e"; }

.icon-filled-loop-3:before {
  content: "\e26f"; }

.icon-filled-minus-1:before {
  content: "\e270"; }

.icon-filled-minus-2:before {
  content: "\e271"; }

.icon-filled-minus-3:before {
  content: "\e272"; }

.icon-filled-minus-4:before {
  content: "\e273"; }

.icon-filled-minus-tag:before {
  content: "\e274"; }

.icon-filled-move-diagonal-1:before {
  content: "\e275"; }

.icon-filled-move-diagonal-2:before {
  content: "\e276"; }

.icon-filled-move-horizontal-1:before {
  content: "\e277"; }

.icon-filled-move-horizontal-2:before {
  content: "\e278"; }

.icon-filled-move-vertical-1:before {
  content: "\e279"; }

.icon-filled-move-vertical-2:before {
  content: "\e27a"; }

.icon-filled-next-1-1:before {
  content: "\e27b"; }

.icon-filled-next-2-1:before {
  content: "\e27c"; }

.icon-filled-power-1-1:before {
  content: "\e27d"; }

.icon-filled-power-2-1:before {
  content: "\e27e"; }

.icon-filled-power-3:before {
  content: "\e27f"; }

.icon-filled-power-4:before {
  content: "\e280"; }

.icon-filled-power-5:before {
  content: "\e281"; }

.icon-filled-recycle:before {
  content: "\e282"; }

.icon-filled-refresh:before {
  content: "\e283"; }

.icon-filled-repeat:before {
  content: "\e284"; }

.icon-filled-return:before {
  content: "\e285"; }

.icon-filled-scale-all-1:before {
  content: "\e286"; }

.icon-filled-scale-center:before {
  content: "\e287"; }

.icon-filled-scale-horizontal-1:before {
  content: "\e288"; }

.icon-filled-scale-horizontal-2:before {
  content: "\e289"; }

.icon-filled-scale-reduce-1:before {
  content: "\e28a"; }

.icon-filled-scale-reduce-2:before {
  content: "\e28b"; }

.icon-filled-scale-reduce-3:before {
  content: "\e28c"; }

.icon-filled-scale-spread-1:before {
  content: "\e28d"; }

.icon-filled-scale-spread-2:before {
  content: "\e28e"; }

.icon-filled-scale-spread-3:before {
  content: "\e28f"; }

.icon-filled-scale-vertical-1:before {
  content: "\e290"; }

.icon-filled-scale-vertical-2:before {
  content: "\e291"; }

.icon-filled-scroll-horizontal-1:before {
  content: "\e292"; }

.icon-filled-scroll-horizontal-2:before {
  content: "\e293"; }

.icon-filled-scroll-omnidirectional-1:before {
  content: "\e294"; }

.icon-filled-scroll-omnidirectional-2:before {
  content: "\e295"; }

.icon-filled-scroll-vertical-1:before {
  content: "\e296"; }

.icon-filled-scroll-vertical-2:before {
  content: "\e297"; }

.icon-filled-shuffle:before {
  content: "\e298"; }

.icon-filled-split:before {
  content: "\e299"; }

.icon-filled-sync-1:before {
  content: "\e29a"; }

.icon-filled-sync-2:before {
  content: "\e29b"; }

.icon-filled-timer:before {
  content: "\e29c"; }

.icon-filled-transfer:before {
  content: "\e29d"; }

.icon-filled-transfer-1-1:before {
  content: "\e29e"; }

.icon-filled-chat-1-1:before {
  content: "\e29f"; }

.icon-filled-chat-2-1:before {
  content: "\e2a0"; }

.icon-filled-check-1:before {
  content: "\e2a1"; }

.icon-filled-check-2:before {
  content: "\e2a2"; }

.icon-filled-check-3:before {
  content: "\e2a3"; }

.icon-filled-check-4:before {
  content: "\e2a4"; }

.icon-filled-check-bubble:before {
  content: "\e2a5"; }

.icon-filled-check-list:before {
  content: "\e2a6"; }

.icon-filled-check-shield:before {
  content: "\e2a7"; }

.icon-filled-cross-1:before {
  content: "\e2a8"; }

.icon-filled-cross-bubble:before {
  content: "\e2a9"; }

.icon-filled-cross-shield:before {
  content: "\e2aa"; }

.icon-filled-briefcase:before {
  content: "\e2ab"; }

.icon-filled-brightness-high:before {
  content: "\e2ac"; }

.icon-filled-brightness-low:before {
  content: "\e2ad"; }

.icon-filled-hammer-1:before {
  content: "\e2ae"; }

.icon-filled-hammer-2:before {
  content: "\e2af"; }

.icon-filled-pulse:before {
  content: "\e2b0"; }

.icon-filled-scale:before {
  content: "\e2b1"; }

.icon-filled-screw-driver:before {
  content: "\e2b2"; }

.icon-filled-setting-adjustment:before {
  content: "\e2b3"; }

.icon-filled-setting-gear:before {
  content: "\e2b4"; }

.icon-filled-setting-gears-1:before {
  content: "\e2b5"; }

.icon-filled-setting-gears-2:before {
  content: "\e2b6"; }

.icon-filled-setting-wrenches:before {
  content: "\e2b7"; }

.icon-filled-switch-1:before {
  content: "\e2b8"; }

.icon-filled-switch-2:before {
  content: "\e2b9"; }

.icon-filled-wrench:before {
  content: "\e2ba"; }

.icon-filled-alarm-1:before {
  content: "\e2bb"; }

.icon-filled-alarm-clock:before {
  content: "\e2bc"; }

.icon-filled-alarm-no:before {
  content: "\e2bd"; }

.icon-filled-alarm-snooze:before {
  content: "\e2be"; }

.icon-filled-bell:before {
  content: "\e2bf"; }

.icon-filled-calendar-1:before {
  content: "\e2c0"; }

.icon-filled-calendar-2:before {
  content: "\e2c1"; }

.icon-filled-clock-1:before {
  content: "\e2c2"; }

.icon-filled-clock-2:before {
  content: "\e2c3"; }

.icon-filled-clock-3:before {
  content: "\e2c4"; }

.icon-filled-hourglass-1:before {
  content: "\e2c5"; }

.icon-filled-hourglass-2:before {
  content: "\e2c6"; }

.icon-filled-timer-1:before {
  content: "\e2c7"; }

.icon-filled-timer-3-quarter-1:before {
  content: "\e2c8"; }

.icon-filled-timer-3-quarter-2:before {
  content: "\e2c9"; }

.icon-filled-timer-full-1:before {
  content: "\e2ca"; }

.icon-filled-timer-full-2:before {
  content: "\e2cb"; }

.icon-filled-timer-half-1:before {
  content: "\e2cc"; }

.icon-filled-timer-half-2:before {
  content: "\e2cd"; }

.icon-filled-timer-half-3:before {
  content: "\e2ce"; }

.icon-filled-timer-half-4:before {
  content: "\e2cf"; }

.icon-filled-timer-quarter-1:before {
  content: "\e2d0"; }

.icon-filled-timer-quarter-2:before {
  content: "\e2d1"; }

.icon-filled-watch-1:before {
  content: "\e2d2"; }

.icon-filled-watch-2:before {
  content: "\e2d3"; }

.icon-filled-alert-1:before {
  content: "\e2d4"; }

.icon-filled-alert-2:before {
  content: "\e2d5"; }

.icon-filled-alert-3:before {
  content: "\e2d6"; }

.icon-filled-information:before {
  content: "\e2d7"; }

.icon-filled-nuclear-1:before {
  content: "\e2d8"; }

.icon-filled-nuclear-2:before {
  content: "\e2d9"; }

.icon-filled-question-mark:before {
  content: "\e2da"; }

.icon-filled-abacus:before {
  content: "\e2db"; }

.icon-filled-amex-card:before {
  content: "\e2dc"; }

.icon-filled-atm:before {
  content: "\e2dd"; }

.icon-filled-balance:before {
  content: "\e2de"; }

.icon-filled-bank-1:before {
  content: "\e2df"; }

.icon-filled-bank-2:before {
  content: "\e2e0"; }

.icon-filled-bank-note:before {
  content: "\e2e1"; }

.icon-filled-bank-notes-1:before {
  content: "\e2e2"; }

.icon-filled-bank-notes-2:before {
  content: "\e2e3"; }

.icon-filled-bitcoins:before {
  content: "\e2e4"; }

.icon-filled-board-1:before {
  content: "\e2e5"; }

.icon-filled-box-1:before {
  content: "\e2e6"; }

.icon-filled-box-2:before {
  content: "\e2e7"; }

.icon-filled-box-3:before {
  content: "\e2e8"; }

.icon-filled-box-download:before {
  content: "\e2e9"; }

.icon-filled-box-shipping:before {
  content: "\e2ea"; }

.icon-filled-box-upload:before {
  content: "\e2eb"; }

.icon-filled-business-chart-1:before {
  content: "\e2ec"; }

.icon-filled-business-chart-2:before {
  content: "\e2ed"; }

.icon-filled-calculator-1:before {
  content: "\e2ee"; }

.icon-filled-calculator-2:before {
  content: "\e2ef"; }

.icon-filled-calculator-3:before {
  content: "\e2f0"; }

.icon-filled-cash-register:before {
  content: "\e2f1"; }

.icon-filled-chart-board:before {
  content: "\e2f2"; }

.icon-filled-chart-down:before {
  content: "\e2f3"; }

.icon-filled-chart-up:before {
  content: "\e2f4"; }

.icon-filled-check:before {
  content: "\e2f5"; }

.icon-filled-coins-1:before {
  content: "\e2f6"; }

.icon-filled-coins-2:before {
  content: "\e2f7"; }

.icon-filled-court:before {
  content: "\e2f8"; }

.icon-filled-credit-card:before {
  content: "\e2f9"; }

.icon-filled-credit-card-lock:before {
  content: "\e2fa"; }

.icon-filled-delivery:before {
  content: "\e2fb"; }

.icon-filled-dollar-bag:before {
  content: "\e2fc"; }

.icon-filled-dollar-currency-1:before {
  content: "\e2fd"; }

.icon-filled-dollar-currency-2:before {
  content: "\e2fe"; }

.icon-filled-dollar-currency-3:before {
  content: "\e2ff"; }

.icon-filled-dollar-currency-4:before {
  content: "\e300"; }

.icon-filled-euro-bag:before {
  content: "\e301"; }

.icon-filled-euro-currency-1:before {
  content: "\e302"; }

.icon-filled-euro-currency-2:before {
  content: "\e303"; }

.icon-filled-euro-currency-3:before {
  content: "\e304"; }

.icon-filled-euro-currency-4:before {
  content: "\e305"; }

.icon-filled-forklift:before {
  content: "\e306"; }

.icon-filled-hand-card:before {
  content: "\e307"; }

.icon-filled-hand-coin:before {
  content: "\e308"; }

.icon-filled-keynote:before {
  content: "\e309"; }

.icon-filled-master-card:before {
  content: "\e30a"; }

.icon-filled-money:before {
  content: "\e30b"; }

.icon-filled-parking-meter:before {
  content: "\e30c"; }

.icon-filled-percent-1:before {
  content: "\e30d"; }

.icon-filled-percent-2:before {
  content: "\e30e"; }

.icon-filled-percent-3:before {
  content: "\e30f"; }

.icon-filled-percent-4:before {
  content: "\e310"; }

.icon-filled-percent-5:before {
  content: "\e311"; }

.icon-filled-percent-up:before {
  content: "\e312"; }

.icon-filled-pie-chart-1:before {
  content: "\e313"; }

.icon-filled-pie-chart-2:before {
  content: "\e314"; }

.icon-filled-piggy-bank:before {
  content: "\e315"; }

.icon-filled-pound-currency-1:before {
  content: "\e316"; }

.icon-filled-pound-currency-2:before {
  content: "\e317"; }

.icon-filled-pound-currency-3:before {
  content: "\e318"; }

.icon-filled-pound-currency-4:before {
  content: "\e319"; }

.icon-filled-safe-1:before {
  content: "\e31a"; }

.icon-filled-safe-2:before {
  content: "\e31b"; }

.icon-filled-shop:before {
  content: "\e31c"; }

.icon-filled-sign:before {
  content: "\e31d"; }

.icon-filled-trolley:before {
  content: "\e31e"; }

.icon-filled-truck-1:before {
  content: "\e31f"; }

.icon-filled-truck-2:before {
  content: "\e320"; }

.icon-filled-visa-card:before {
  content: "\e321"; }

.icon-filled-yen-currency-1:before {
  content: "\e322"; }

.icon-filled-yen-currency-2:before {
  content: "\e323"; }

.icon-filled-yen-currency-3:before {
  content: "\e324"; }

.icon-filled-yen-currency-4:before {
  content: "\e325"; }

.icon-filled-add-marker-1:before {
  content: "\e326"; }

.icon-filled-add-marker-2:before {
  content: "\e327"; }

.icon-filled-add-marker-3:before {
  content: "\e328"; }

.icon-filled-add-marker-4:before {
  content: "\e329"; }

.icon-filled-add-marker-5:before {
  content: "\e32a"; }

.icon-filled-compass-1:before {
  content: "\e32b"; }

.icon-filled-compass-2:before {
  content: "\e32c"; }

.icon-filled-compass-3:before {
  content: "\e32d"; }

.icon-filled-delete-marker-1:before {
  content: "\e32e"; }

.icon-filled-delete-marker-2:before {
  content: "\e32f"; }

.icon-filled-delete-marker-3:before {
  content: "\e330"; }

.icon-filled-delete-marker-4:before {
  content: "\e331"; }

.icon-filled-delete-marker-5:before {
  content: "\e332"; }

.icon-filled-favorite-marker:before {
  content: "\e333"; }

.icon-filled-favorite-marker-1:before {
  content: "\e334"; }

.icon-filled-favorite-marker-2:before {
  content: "\e335"; }

.icon-filled-favorite-marker-3:before {
  content: "\e336"; }

.icon-filled-globe:before {
  content: "\e337"; }

.icon-filled-location:before {
  content: "\e338"; }

.icon-filled-map-1:before {
  content: "\e339"; }

.icon-filled-map-location:before {
  content: "\e33a"; }

.icon-filled-map-marker-1:before {
  content: "\e33b"; }

.icon-filled-map-marker-2:before {
  content: "\e33c"; }

.icon-filled-map-marker-3:before {
  content: "\e33d"; }

.icon-filled-map-marker-4:before {
  content: "\e33e"; }

.icon-filled-map-pin:before {
  content: "\e33f"; }

.icon-filled-map-pin-marker:before {
  content: "\e340"; }

.icon-filled-marker-1:before {
  content: "\e341"; }

.icon-filled-marker-2:before {
  content: "\e342"; }

.icon-filled-marker-3:before {
  content: "\e343"; }

.icon-filled-marker-4:before {
  content: "\e344"; }

.icon-filled-minus-marker-1:before {
  content: "\e345"; }

.icon-filled-minus-marker-2:before {
  content: "\e346"; }

.icon-filled-minus-marker-3:before {
  content: "\e347"; }

.icon-filled-minus-marker-4:before {
  content: "\e348"; }

.icon-filled-pin-1-1:before {
  content: "\e349"; }

.icon-filled-pin-2-1:before {
  content: "\e34a"; }

.icon-filled-pin-location:before {
  content: "\e34b"; }

.icon-filled-anchor:before {
  content: "\e34c"; }

.icon-filled-bank:before {
  content: "\e34d"; }

.icon-filled-beach:before {
  content: "\e34e"; }

.icon-filled-boat:before {
  content: "\e34f"; }

.icon-filled-building-1:before {
  content: "\e350"; }

.icon-filled-building-2:before {
  content: "\e351"; }

.icon-filled-building-3:before {
  content: "\e352"; }

.icon-filled-buildings-1:before {
  content: "\e353"; }

.icon-filled-buildings-2:before {
  content: "\e354"; }

.icon-filled-buildings-3:before {
  content: "\e355"; }

.icon-filled-buildings-4:before {
  content: "\e356"; }

.icon-filled-castle:before {
  content: "\e357"; }

.icon-filled-column:before {
  content: "\e358"; }

.icon-filled-direction-sign:before {
  content: "\e359"; }

.icon-filled-factory:before {
  content: "\e35a"; }

.icon-filled-fence:before {
  content: "\e35b"; }

.icon-filled-garage:before {
  content: "\e35c"; }

.icon-filled-globe-1:before {
  content: "\e35d"; }

.icon-filled-globe-2:before {
  content: "\e35e"; }

.icon-filled-house-1:before {
  content: "\e35f"; }

.icon-filled-house-2:before {
  content: "\e360"; }

.icon-filled-house-3:before {
  content: "\e361"; }

.icon-filled-house-4:before {
  content: "\e362"; }

.icon-filled-library:before {
  content: "\e363"; }

.icon-filled-light-house:before {
  content: "\e364"; }

.icon-filled-pine-tree:before {
  content: "\e365"; }

.icon-filled-pisa:before {
  content: "\e366"; }

.icon-filled-skyscraper:before {
  content: "\e367"; }

.icon-filled-temple:before {
  content: "\e368"; }

.icon-filled-treasure-map:before {
  content: "\e369"; }

.icon-filled-tree:before {
  content: "\e36a"; }

.icon-filled-attention:before {
  content: "\e36b"; }

.icon-filled-bug-1:before {
  content: "\e36c"; }

.icon-filled-bug-2:before {
  content: "\e36d"; }

.icon-filled-css3:before {
  content: "\e36e"; }

.icon-filled-firewall:before {
  content: "\e36f"; }

.icon-filled-html5:before {
  content: "\e370"; }

.icon-filled-plugin-1:before {
  content: "\e371"; }

.icon-filled-plugin-2:before {
  content: "\e372"; }

.icon-filled-script:before {
  content: "\e373"; }

.icon-filled-new-window:before {
  content: "\e374"; }

.icon-filled-window-1:before {
  content: "\e375"; }

.icon-filled-window-2:before {
  content: "\e376"; }

.icon-filled-window-3:before {
  content: "\e377"; }

.icon-filled-window-add:before {
  content: "\e378"; }

.icon-filled-window-alert:before {
  content: "\e379"; }

.icon-filled-window-check:before {
  content: "\e37a"; }

.icon-filled-window-code-1:before {
  content: "\e37b"; }

.icon-filled-window-code-2:before {
  content: "\e37c"; }

.icon-filled-window-code-3:before {
  content: "\e37d"; }

.icon-filled-window-column:before {
  content: "\e37e"; }

.icon-filled-window-delete:before {
  content: "\e37f"; }

.icon-filled-window-denied:before {
  content: "\e380"; }

.icon-filled-window-download-1:before {
  content: "\e381"; }

.icon-filled-window-download-2:before {
  content: "\e382"; }

.icon-filled-window-edit:before {
  content: "\e383"; }

.icon-filled-window-favorite-1:before {
  content: "\e384"; }

.icon-filled-window-favorite-2:before {
  content: "\e385"; }

.icon-filled-window-graph-1:before {
  content: "\e386"; }

.icon-filled-window-graph-2:before {
  content: "\e387"; }

.icon-filled-window-hand:before {
  content: "\e388"; }

.icon-filled-window-home:before {
  content: "\e389"; }

.icon-filled-window-list-1:before {
  content: "\e38a"; }

.icon-filled-window-list-2:before {
  content: "\e38b"; }

.icon-filled-window-lock:before {
  content: "\e38c"; }

.icon-filled-window-minimize:before {
  content: "\e38d"; }

.icon-filled-window-minus:before {
  content: "\e38e"; }

.icon-filled-window-refresh:before {
  content: "\e38f"; }

.icon-filled-window-registry:before {
  content: "\e390"; }

.icon-filled-window-search:before {
  content: "\e391"; }

.icon-filled-window-selection-1:before {
  content: "\e392"; }

.icon-filled-window-selection-2:before {
  content: "\e393"; }

.icon-filled-window-setting:before {
  content: "\e394"; }

.icon-filled-window-sync:before {
  content: "\e395"; }

.icon-filled-window-thumbnail-1:before {
  content: "\e396"; }

.icon-filled-window-thumbnail-2:before {
  content: "\e397"; }

.icon-filled-window-time:before {
  content: "\e398"; }

.icon-filled-window-upload-1:before {
  content: "\e399"; }

.icon-filled-window-upload-2:before {
  content: "\e39a"; }

.icon-filled-database:before {
  content: "\e39b"; }

.icon-filled-database-alert:before {
  content: "\e39c"; }

.icon-filled-database-block:before {
  content: "\e39d"; }

.icon-filled-database-check:before {
  content: "\e39e"; }

.icon-filled-database-delete:before {
  content: "\e39f"; }

.icon-filled-database-download:before {
  content: "\e3a0"; }

.icon-filled-database-editor:before {
  content: "\e3a1"; }

.icon-filled-database-lock:before {
  content: "\e3a2"; }

.icon-filled-database-minus:before {
  content: "\e3a3"; }

.icon-filled-database-network:before {
  content: "\e3a4"; }

.icon-filled-database-plus:before {
  content: "\e3a5"; }

.icon-filled-database-refresh:before {
  content: "\e3a6"; }

.icon-filled-database-search:before {
  content: "\e3a7"; }

.icon-filled-database-setting:before {
  content: "\e3a8"; }

.icon-filled-database-sync:before {
  content: "\e3a9"; }

.icon-filled-database-time:before {
  content: "\e3aa"; }

.icon-filled-database-upload:before {
  content: "\e3ab"; }

.icon-filled-battery-charging:before {
  content: "\e3ac"; }

.icon-filled-battery-full:before {
  content: "\e3ad"; }

.icon-filled-battery-high:before {
  content: "\e3ae"; }

.icon-filled-battery-low:before {
  content: "\e3af"; }

.icon-filled-battery-medium:before {
  content: "\e3b0"; }

.icon-filled-cd-1:before {
  content: "\e3b1"; }

.icon-filled-cd-2:before {
  content: "\e3b2"; }

.icon-filled-chip:before {
  content: "\e3b3"; }

.icon-filled-computer:before {
  content: "\e3b4"; }

.icon-filled-disc:before {
  content: "\e3b5"; }

.icon-filled-filter:before {
  content: "\e3b6"; }

.icon-filled-floppy-disk:before {
  content: "\e3b7"; }

.icon-filled-gameboy:before {
  content: "\e3b8"; }

.icon-filled-harddisk-1:before {
  content: "\e3b9"; }

.icon-filled-harddisk-2:before {
  content: "\e3ba"; }

.icon-filled-imac:before {
  content: "\e3bb"; }

.icon-filled-ipad-1:before {
  content: "\e3bc"; }

.icon-filled-ipad-2:before {
  content: "\e3bd"; }

.icon-filled-ipod:before {
  content: "\e3be"; }

.icon-filled-joystick-1:before {
  content: "\e3bf"; }

.icon-filled-joystick-2:before {
  content: "\e3c0"; }

.icon-filled-joystick-3:before {
  content: "\e3c1"; }

.icon-filled-keyboard-1:before {
  content: "\e3c2"; }

.icon-filled-keyboard-2:before {
  content: "\e3c3"; }

.icon-filled-kindle-1:before {
  content: "\e3c4"; }

.icon-filled-kindle-2:before {
  content: "\e3c5"; }

.icon-filled-laptop-1:before {
  content: "\e3c6"; }

.icon-filled-laptop-2:before {
  content: "\e3c7"; }

.icon-filled-memory-card:before {
  content: "\e3c8"; }

.icon-filled-mobile-phone:before {
  content: "\e3c9"; }

.icon-filled-mouse-1:before {
  content: "\e3ca"; }

.icon-filled-mouse-2:before {
  content: "\e3cb"; }

.icon-filled-mp3player:before {
  content: "\e3cc"; }

.icon-filled-plug-1:before {
  content: "\e3cd"; }

.icon-filled-plug-2:before {
  content: "\e3ce"; }

.icon-filled-plug-slot:before {
  content: "\e3cf"; }

.icon-filled-printer:before {
  content: "\e3d0"; }

.icon-filled-projector:before {
  content: "\e3d1"; }

.icon-filled-remote:before {
  content: "\e3d2"; }

.icon-filled-router:before {
  content: "\e3d3"; }

.icon-filled-screen-1:before {
  content: "\e3d4"; }

.icon-filled-screen-2:before {
  content: "\e3d5"; }

.icon-filled-screen-3:before {
  content: "\e3d6"; }

.icon-filled-screen-4:before {
  content: "\e3d7"; }

.icon-filled-smartphone-1:before {
  content: "\e3d8"; }

.icon-filled-television-1:before {
  content: "\e3d9"; }

.icon-filled-typewriter-1:before {
  content: "\e3da"; }

.icon-filled-typewriter-2:before {
  content: "\e3db"; }

.icon-filled-usb-1:before {
  content: "\e3dc"; }

.icon-filled-usb-2:before {
  content: "\e3dd"; }

.icon-filled-webcam:before {
  content: "\e3de"; }

.icon-filled-wireless-router-1:before {
  content: "\e3df"; }

.icon-filled-wireless-router-2:before {
  content: "\e3e0"; }

.icon-filled-bluetooth:before {
  content: "\e3e1"; }

.icon-filled-ethernet:before {
  content: "\e3e2"; }

.icon-filled-ethernet-slot:before {
  content: "\e3e3"; }

.icon-filled-firewire-1:before {
  content: "\e3e4"; }

.icon-filled-firewire-2:before {
  content: "\e3e5"; }

.icon-filled-network-1:before {
  content: "\e3e6"; }

.icon-filled-network-2:before {
  content: "\e3e7"; }

.icon-filled-server-1:before {
  content: "\e3e8"; }

.icon-filled-server-2:before {
  content: "\e3e9"; }

.icon-filled-server-3:before {
  content: "\e3ea"; }

.icon-filled-usb:before {
  content: "\e3eb"; }

.icon-filled-wireless-signal:before {
  content: "\e3ec"; }

.icon-filled-book:before {
  content: "\e3ed"; }

.icon-filled-book-1:before {
  content: "\e3ee"; }

.icon-filled-book-2:before {
  content: "\e3ef"; }

.icon-filled-book-3:before {
  content: "\e3f0"; }

.icon-filled-book-4:before {
  content: "\e3f1"; }

.icon-filled-book-5:before {
  content: "\e3f2"; }

.icon-filled-book-6:before {
  content: "\e3f3"; }

.icon-filled-book-7:before {
  content: "\e3f4"; }

.icon-filled-book-download-1:before {
  content: "\e3f5"; }

.icon-filled-book-download-2:before {
  content: "\e3f6"; }

.icon-filled-book-favorite-1:before {
  content: "\e3f7"; }

.icon-filled-bookmark-1-1:before {
  content: "\e3f8"; }

.icon-filled-bookmark-2-1:before {
  content: "\e3f9"; }

.icon-filled-bookmark-3-1:before {
  content: "\e3fa"; }

.icon-filled-bookmark-4-1:before {
  content: "\e3fb"; }

.icon-filled-books-1:before {
  content: "\e3fc"; }

.icon-filled-books-2:before {
  content: "\e3fd"; }

.icon-filled-books-3:before {
  content: "\e3fe"; }

.icon-filled-briefcase-1:before {
  content: "\e3ff"; }

.icon-filled-contact-book-1:before {
  content: "\e400"; }

.icon-filled-contact-book-2:before {
  content: "\e401"; }

.icon-filled-contact-book-3:before {
  content: "\e402"; }

.icon-filled-contact-book-4:before {
  content: "\e403"; }

.icon-filled-copyright:before {
  content: "\e404"; }

.icon-filled-creative-commons:before {
  content: "\e405"; }

.icon-filled-cube:before {
  content: "\e406"; }

.icon-filled-data-filter:before {
  content: "\e407"; }

.icon-filled-document-box-1:before {
  content: "\e408"; }

.icon-filled-document-box-2:before {
  content: "\e409"; }

.icon-filled-document-box-3:before {
  content: "\e40a"; }

.icon-filled-drawer-1:before {
  content: "\e40b"; }

.icon-filled-drawer-2:before {
  content: "\e40c"; }

.icon-filled-drawer-3:before {
  content: "\e40d"; }

.icon-filled-envelope:before {
  content: "\e40e"; }

.icon-filled-favortie-book-2:before {
  content: "\e40f"; }

.icon-filled-file:before {
  content: "\e410"; }

.icon-filled-files:before {
  content: "\e411"; }

.icon-filled-filter-1:before {
  content: "\e412"; }

.icon-filled-filter-2:before {
  content: "\e413"; }

.icon-filled-layers-1:before {
  content: "\e414"; }

.icon-filled-list-1:before {
  content: "\e415"; }

.icon-filled-list-2:before {
  content: "\e416"; }

.icon-filled-newspaper-1:before {
  content: "\e417"; }

.icon-filled-newspaper-2:before {
  content: "\e418"; }

.icon-filled-registry-1:before {
  content: "\e419"; }

.icon-filled-registry-2:before {
  content: "\e41a"; }

.icon-filled-shield-1:before {
  content: "\e41b"; }

.icon-filled-shield-2:before {
  content: "\e41c"; }

.icon-filled-shield-3:before {
  content: "\e41d"; }

.icon-filled-sketchbook:before {
  content: "\e41e"; }

.icon-filled-sound-book:before {
  content: "\e41f"; }

.icon-filled-thumbnails-1:before {
  content: "\e420"; }

.icon-filled-thumbnails-2:before {
  content: "\e421"; }

.icon-filled-hierarchy-1:before {
  content: "\e422"; }

.icon-filled-hierarchy-2:before {
  content: "\e423"; }

.icon-filled-hierarchy-3:before {
  content: "\e424"; }

.icon-filled-hierarchy-4:before {
  content: "\e425"; }

.icon-filled-hierarchy-5:before {
  content: "\e426"; }

.icon-filled-hierarchy-6:before {
  content: "\e427"; }

.icon-filled-hierarchy-7:before {
  content: "\e428"; }

.icon-filled-hierarchy-8:before {
  content: "\e429"; }

.icon-filled-network-1-1:before {
  content: "\e42a"; }

.icon-filled-network-2-1:before {
  content: "\e42b"; }

.icon-filled-backpack:before {
  content: "\e42c"; }

.icon-filled-balance-1:before {
  content: "\e42d"; }

.icon-filled-bed:before {
  content: "\e42e"; }

.icon-filled-bench:before {
  content: "\e42f"; }

.icon-filled-bomb-1:before {
  content: "\e430"; }

.icon-filled-bricks:before {
  content: "\e431"; }

.icon-filled-bullets:before {
  content: "\e432"; }

.icon-filled-buoy-ring:before {
  content: "\e433"; }

.icon-filled-campfire:before {
  content: "\e434"; }

.icon-filled-can:before {
  content: "\e435"; }

.icon-filled-candle:before {
  content: "\e436"; }

.icon-filled-canon:before {
  content: "\e437"; }

.icon-filled-cctv-1:before {
  content: "\e438"; }

.icon-filled-cctv-2:before {
  content: "\e439"; }

.icon-filled-chair:before {
  content: "\e43a"; }

.icon-filled-chair-director:before {
  content: "\e43b"; }

.icon-filled-cigarette:before {
  content: "\e43c"; }

.icon-filled-construction-sign:before {
  content: "\e43d"; }

.icon-filled-diamond:before {
  content: "\e43e"; }

.icon-filled-disabled:before {
  content: "\e43f"; }

.icon-filled-door:before {
  content: "\e440"; }

.icon-filled-drawer:before {
  content: "\e441"; }

.icon-filled-driller:before {
  content: "\e442"; }

.icon-filled-dumbbell:before {
  content: "\e443"; }

.icon-filled-fire-extinguisher:before {
  content: "\e444"; }

.icon-filled-flashlight:before {
  content: "\e445"; }

.icon-filled-gas-station:before {
  content: "\e446"; }

.icon-filled-gun:before {
  content: "\e447"; }

.icon-filled-lamp-1:before {
  content: "\e448"; }

.icon-filled-lamp-2:before {
  content: "\e449"; }

.icon-filled-lamp-3:before {
  content: "\e44a"; }

.icon-filled-lamp-4:before {
  content: "\e44b"; }

.icon-filled-lightbulb-1:before {
  content: "\e44c"; }

.icon-filled-lightbulb-2:before {
  content: "\e44d"; }

.icon-filled-measuring-tape:before {
  content: "\e44e"; }

.icon-filled-mine-cart:before {
  content: "\e44f"; }

.icon-filled-missile:before {
  content: "\e450"; }

.icon-filled-ring:before {
  content: "\e451"; }

.icon-filled-scale-1:before {
  content: "\e452"; }

.icon-filled-shovel:before {
  content: "\e453"; }

.icon-filled-smoke-no:before {
  content: "\e454"; }

.icon-filled-sofa-1:before {
  content: "\e455"; }

.icon-filled-sofa-2:before {
  content: "\e456"; }

.icon-filled-sofa-3:before {
  content: "\e457"; }

.icon-filled-target:before {
  content: "\e458"; }

.icon-filled-torch:before {
  content: "\e459"; }

.icon-filled-traffic-cone:before {
  content: "\e45a"; }

.icon-filled-traffic-light-1:before {
  content: "\e45b"; }

.icon-filled-traffic-light-2:before {
  content: "\e45c"; }

.icon-filled-treasure-1:before {
  content: "\e45d"; }

.icon-filled-treasure-2:before {
  content: "\e45e"; }

.icon-filled-trowel:before {
  content: "\e45f"; }

.icon-filled-watering-can:before {
  content: "\e460"; }

.icon-filled-weigh:before {
  content: "\e461"; }

.icon-filled-academic-cap:before {
  content: "\e462"; }

.icon-filled-baseball-helmet:before {
  content: "\e463"; }

.icon-filled-beanie:before {
  content: "\e464"; }

.icon-filled-bike-helmet:before {
  content: "\e465"; }

.icon-filled-bow:before {
  content: "\e466"; }

.icon-filled-cap:before {
  content: "\e467"; }

.icon-filled-chaplin:before {
  content: "\e468"; }

.icon-filled-chef-hat:before {
  content: "\e469"; }

.icon-filled-cloth-hanger:before {
  content: "\e46a"; }

.icon-filled-fins:before {
  content: "\e46b"; }

.icon-filled-football-helmet:before {
  content: "\e46c"; }

.icon-filled-glasses:before {
  content: "\e46d"; }

.icon-filled-glasses-1:before {
  content: "\e46e"; }

.icon-filled-glasses-2:before {
  content: "\e46f"; }

.icon-filled-magician-hat:before {
  content: "\e470"; }

.icon-filled-monocle-1:before {
  content: "\e471"; }

.icon-filled-monocle-2:before {
  content: "\e472"; }

.icon-filled-necktie:before {
  content: "\e473"; }

.icon-filled-polo-shirt:before {
  content: "\e474"; }

.icon-filled-safety-helmet:before {
  content: "\e475"; }

.icon-filled-scuba-tank:before {
  content: "\e476"; }

.icon-filled-shirt-1:before {
  content: "\e477"; }

.icon-filled-shirt-2:before {
  content: "\e478"; }

.icon-filled-sneakers:before {
  content: "\e479"; }

.icon-filled-snorkel:before {
  content: "\e47a"; }

.icon-filled-sombrero:before {
  content: "\e47b"; }

.icon-filled-sunglasses:before {
  content: "\e47c"; }

.icon-filled-tall-hat:before {
  content: "\e47d"; }

.icon-filled-trousers:before {
  content: "\e47e"; }

.icon-filled-walking-stick:before {
  content: "\e47f"; }

.icon-filled-arrow-redo:before {
  content: "\e480"; }

.icon-filled-arrow-undo:before {
  content: "\e481"; }

.icon-filled-bold:before {
  content: "\e482"; }

.icon-filled-columns:before {
  content: "\e483"; }

.icon-filled-eraser:before {
  content: "\e484"; }

.icon-filled-font-color:before {
  content: "\e485"; }

.icon-filled-html:before {
  content: "\e486"; }

.icon-filled-italic:before {
  content: "\e487"; }

.icon-filled-list-1-1:before {
  content: "\e488"; }

.icon-filled-list-2-1:before {
  content: "\e489"; }

.icon-filled-list-3:before {
  content: "\e48a"; }

.icon-filled-list-4:before {
  content: "\e48b"; }

.icon-filled-paragraph:before {
  content: "\e48c"; }

.icon-filled-paste:before {
  content: "\e48d"; }

.icon-filled-print-preview:before {
  content: "\e48e"; }

.icon-filled-quote:before {
  content: "\e48f"; }

.icon-filled-strikethrough:before {
  content: "\e490"; }

.icon-filled-text:before {
  content: "\e491"; }

.icon-filled-text-wrapping-1:before {
  content: "\e492"; }

.icon-filled-text-wrapping-2:before {
  content: "\e493"; }

.icon-filled-text-wrapping-3:before {
  content: "\e494"; }

.icon-filled-underline:before {
  content: "\e495"; }

.icon-filled-align-center:before {
  content: "\e496"; }

.icon-filled-align-left:before {
  content: "\e497"; }

.icon-filled-align-right:before {
  content: "\e498"; }

.icon-filled-all-caps:before {
  content: "\e499"; }

.icon-filled-arrange-2-1:before {
  content: "\e49a"; }

.icon-filled-arrange-2-2:before {
  content: "\e49b"; }

.icon-filled-arrange-2-3:before {
  content: "\e49c"; }

.icon-filled-arrange-2-4:before {
  content: "\e49d"; }

.icon-filled-arrange-3-1:before {
  content: "\e49e"; }

.icon-filled-arrange-3-2:before {
  content: "\e49f"; }

.icon-filled-arrange-3-3:before {
  content: "\e4a0"; }

.icon-filled-arrange-3-4:before {
  content: "\e4a1"; }

.icon-filled-arrange-3-5:before {
  content: "\e4a2"; }

.icon-filled-arrange-4-1:before {
  content: "\e4a3"; }

.icon-filled-arrange-4-2:before {
  content: "\e4a4"; }

.icon-filled-arrange-4-3:before {
  content: "\e4a5"; }

.icon-filled-arrange-5:before {
  content: "\e4a6"; }

.icon-filled-consolidate-all:before {
  content: "\e4a7"; }

.icon-filled-decrease-indent-1:before {
  content: "\e4a8"; }

.icon-filled-decrease-indent-2:before {
  content: "\e4a9"; }

.icon-filled-horizontal-page:before {
  content: "\e4aa"; }

.icon-filled-increase-indent-1:before {
  content: "\e4ab"; }

.icon-filled-increase-indent-2:before {
  content: "\e4ac"; }

.icon-filled-justify:before {
  content: "\e4ad"; }

.icon-filled-leading-1:before {
  content: "\e4ae"; }

.icon-filled-leading-2:before {
  content: "\e4af"; }

.icon-filled-left-indent:before {
  content: "\e4b0"; }

.icon-filled-right-indent:before {
  content: "\e4b1"; }

.icon-filled-small-caps:before {
  content: "\e4b2"; }

.icon-filled-vertical-page:before {
  content: "\e4b3"; }

.icon-filled-alt-mac:before {
  content: "\e4b4"; }

.icon-filled-alt-windows:before {
  content: "\e4b5"; }

.icon-filled-arrow-down:before {
  content: "\e4b6"; }

.icon-filled-arrow-down-left:before {
  content: "\e4b7"; }

.icon-filled-arrow-down-right:before {
  content: "\e4b8"; }

.icon-filled-arrow-left:before {
  content: "\e4b9"; }

.icon-filled-arrow-right:before {
  content: "\e4ba"; }

.icon-filled-arrow-up:before {
  content: "\e4bb"; }

.icon-filled-arrow-up-left:before {
  content: "\e4bc"; }

.icon-filled-arrow-up-right:before {
  content: "\e4bd"; }

.icon-filled-asterisk-1:before {
  content: "\e4be"; }

.icon-filled-asterisk-2:before {
  content: "\e4bf"; }

.icon-filled-back-tab-1:before {
  content: "\e4c0"; }

.icon-filled-back-tab-2:before {
  content: "\e4c1"; }

.icon-filled-backward-delete:before {
  content: "\e4c2"; }

.icon-filled-blank:before {
  content: "\e4c3"; }

.icon-filled-eject:before {
  content: "\e4c4"; }

.icon-filled-enter-1:before {
  content: "\e4c5"; }

.icon-filled-enter-2:before {
  content: "\e4c6"; }

.icon-filled-escape:before {
  content: "\e4c7"; }

.icon-filled-page-down:before {
  content: "\e4c8"; }

.icon-filled-page-up:before {
  content: "\e4c9"; }

.icon-filled-return-1:before {
  content: "\e4ca"; }

.icon-filled-shift:before {
  content: "\e4cb"; }

.icon-filled-shift-2:before {
  content: "\e4cc"; }

.icon-filled-tab:before {
  content: "\e4cd"; }

.icon-filled-apple:before {
  content: "\e4ce"; }

.icon-filled-beer:before {
  content: "\e4cf"; }

.icon-filled-boil:before {
  content: "\e4d0"; }

.icon-filled-bottle-1:before {
  content: "\e4d1"; }

.icon-filled-bottle-2:before {
  content: "\e4d2"; }

.icon-filled-bottle-3:before {
  content: "\e4d3"; }

.icon-filled-bottle-4:before {
  content: "\e4d4"; }

.icon-filled-bread:before {
  content: "\e4d5"; }

.icon-filled-burger-1:before {
  content: "\e4d6"; }

.icon-filled-burger-2:before {
  content: "\e4d7"; }

.icon-filled-cake-1:before {
  content: "\e4d8"; }

.icon-filled-cake-2:before {
  content: "\e4d9"; }

.icon-filled-champagne:before {
  content: "\e4da"; }

.icon-filled-cheese:before {
  content: "\e4db"; }

.icon-filled-cocktail-1:before {
  content: "\e4dc"; }

.icon-filled-cocktail-2:before {
  content: "\e4dd"; }

.icon-filled-cocktail-3:before {
  content: "\e4de"; }

.icon-filled-coffee-cup-2:before {
  content: "\e4df"; }

.icon-filled-coffee-pot:before {
  content: "\e4e0"; }

.icon-filled-cup-2:before {
  content: "\e4e1"; }

.icon-filled-deep-fry:before {
  content: "\e4e2"; }

.icon-filled-energy-drink:before {
  content: "\e4e3"; }

.icon-filled-espresso-machine:before {
  content: "\e4e4"; }

.icon-filled-food-dome:before {
  content: "\e4e5"; }

.icon-filled-fork-and-knife:before {
  content: "\e4e6"; }

.icon-filled-fork-and-spoon:before {
  content: "\e4e7"; }

.icon-filled-grape:before {
  content: "\e4e8"; }

.icon-filled-grater:before {
  content: "\e4e9"; }

.icon-filled-grill:before {
  content: "\e4ea"; }

.icon-filled-hot-drinks-glass:before {
  content: "\e4eb"; }

.icon-filled-hotdog:before {
  content: "\e4ec"; }

.icon-filled-ice-cream-1:before {
  content: "\e4ed"; }

.icon-filled-ice-cream-2:before {
  content: "\e4ee"; }

.icon-filled-ice-cream-3:before {
  content: "\e4ef"; }

.icon-filled-ice-drinks-glass:before {
  content: "\e4f0"; }

.icon-filled-juicer:before {
  content: "\e4f1"; }

.icon-filled-kitchen-timer:before {
  content: "\e4f2"; }

.icon-filled-milk:before {
  content: "\e4f3"; }

.icon-filled-orange:before {
  content: "\e4f4"; }

.icon-filled-oven:before {
  content: "\e4f5"; }

.icon-filled-pan-fry:before {
  content: "\e4f6"; }

.icon-filled-pepper-salt:before {
  content: "\e4f7"; }

.icon-filled-pizza:before {
  content: "\e4f8"; }

.icon-filled-pop-corn:before {
  content: "\e4f9"; }

.icon-filled-serving:before {
  content: "\e4fa"; }

.icon-filled-soda:before {
  content: "\e4fb"; }

.icon-filled-soda-can-1:before {
  content: "\e4fc"; }

.icon-filled-soda-can-2:before {
  content: "\e4fd"; }

.icon-filled-steam:before {
  content: "\e4fe"; }

.icon-filled-tea-pot:before {
  content: "\e4ff"; }

.icon-filled-thermometer-high:before {
  content: "\e500"; }

.icon-filled-thermometer-low:before {
  content: "\e501"; }

.icon-filled-thermometer-medium:before {
  content: "\e502"; }

.icon-filled-water:before {
  content: "\e503"; }

.icon-filled-wine:before {
  content: "\e504"; }

.icon-filled-ambulance:before {
  content: "\e505"; }

.icon-filled-beaker-1:before {
  content: "\e506"; }

.icon-filled-beaker-2:before {
  content: "\e507"; }

.icon-filled-blood:before {
  content: "\e508"; }

.icon-filled-drug:before {
  content: "\e509"; }

.icon-filled-first-aid:before {
  content: "\e50a"; }

.icon-filled-hashish:before {
  content: "\e50b"; }

.icon-filled-heart-pulse:before {
  content: "\e50c"; }

.icon-filled-hospital-1:before {
  content: "\e50d"; }

.icon-filled-hospital-2:before {
  content: "\e50e"; }

.icon-filled-hospital-sign-1:before {
  content: "\e50f"; }

.icon-filled-hospital-sign-2:before {
  content: "\e510"; }

.icon-filled-hospital-sign-3:before {
  content: "\e511"; }

.icon-filled-medicine:before {
  content: "\e512"; }

.icon-filled-microscope:before {
  content: "\e513"; }

.icon-filled-mortar-and-pestle:before {
  content: "\e514"; }

.icon-filled-plaster:before {
  content: "\e515"; }

.icon-filled-pulse-graph-1:before {
  content: "\e516"; }

.icon-filled-pulse-graph-2:before {
  content: "\e517"; }

.icon-filled-pulse-graph-3:before {
  content: "\e518"; }

.icon-filled-red-cross:before {
  content: "\e519"; }

.icon-filled-stethoscope:before {
  content: "\e51a"; }

.icon-filled-syringe:before {
  content: "\e51b"; }

.icon-filled-yin-yang:before {
  content: "\e51c"; }

.icon-filled-balloon:before {
  content: "\e51d"; }

.icon-filled-briefcase-lock:before {
  content: "\e51e"; }

.icon-filled-card:before {
  content: "\e51f"; }

.icon-filled-cards-1:before {
  content: "\e520"; }

.icon-filled-cards-2:before {
  content: "\e521"; }

.icon-filled-curtain:before {
  content: "\e522"; }

.icon-filled-dice-1:before {
  content: "\e523"; }

.icon-filled-dice-2:before {
  content: "\e524"; }

.icon-filled-pacman:before {
  content: "\e525"; }

.icon-filled-pacman-ghost:before {
  content: "\e526"; }

.icon-filled-sign-1:before {
  content: "\e527"; }

.icon-filled-smiley-happy:before {
  content: "\e528"; }

.icon-filled-smiley-sad:before {
  content: "\e529"; }

.icon-filled-smileys:before {
  content: "\e52a"; }

.icon-filled-suitcase-1:before {
  content: "\e52b"; }

.icon-filled-suitcase-2:before {
  content: "\e52c"; }

.icon-filled-tetris:before {
  content: "\e52d"; }

.icon-filled-ticket-1:before {
  content: "\e52e"; }

.icon-filled-ticket-2:before {
  content: "\e52f"; }

.icon-filled-ticket-3:before {
  content: "\e530"; }

.icon-filled-virus:before {
  content: "\e531"; }

.icon-filled-cloud-1:before {
  content: "\e532"; }

.icon-filled-cloud-lightning:before {
  content: "\e533"; }

.icon-filled-clouds:before {
  content: "\e534"; }

.icon-filled-first-quarter-half-moon:before {
  content: "\e535"; }

.icon-filled-full-moon:before {
  content: "\e536"; }

.icon-filled-hail:before {
  content: "\e537"; }

.icon-filled-heavy-rain:before {
  content: "\e538"; }

.icon-filled-moon-cloud:before {
  content: "\e539"; }

.icon-filled-rain:before {
  content: "\e53a"; }

.icon-filled-rain-lightning:before {
  content: "\e53b"; }

.icon-filled-snow:before {
  content: "\e53c"; }

.icon-filled-sun:before {
  content: "\e53d"; }

.icon-filled-sun-cloud:before {
  content: "\e53e"; }

.icon-filled-thermometer:before {
  content: "\e53f"; }

.icon-filled-third-quarter-half-moon:before {
  content: "\e540"; }

.icon-filled-umbrella:before {
  content: "\e541"; }

.icon-filled-waning-crescent-moon:before {
  content: "\e542"; }

.icon-filled-waning-gibbous-moon:before {
  content: "\e543"; }

.icon-filled-waxing-crescent-moon:before {
  content: "\e544"; }

.icon-filled-waxing-gibbous-moon:before {
  content: "\e545"; }

.icon-filled-bicycle:before {
  content: "\e546"; }

.icon-filled-bus-1:before {
  content: "\e547"; }

.icon-filled-bus-2:before {
  content: "\e548"; }

.icon-filled-car-1:before {
  content: "\e549"; }

.icon-filled-car-2:before {
  content: "\e54a"; }

.icon-filled-car-3:before {
  content: "\e54b"; }

.icon-filled-car-4:before {
  content: "\e54c"; }

.icon-filled-helicopter:before {
  content: "\e54d"; }

.icon-filled-mountain-bike:before {
  content: "\e54e"; }

.icon-filled-pickup:before {
  content: "\e54f"; }

.icon-filled-plane-1:before {
  content: "\e550"; }

.icon-filled-plane-2:before {
  content: "\e551"; }

.icon-filled-plane-landing:before {
  content: "\e552"; }

.icon-filled-plane-takeoff:before {
  content: "\e553"; }

.icon-filled-road:before {
  content: "\e554"; }

.icon-filled-road-bike:before {
  content: "\e555"; }

.icon-filled-rocket:before {
  content: "\e556"; }

.icon-filled-scooter:before {
  content: "\e557"; }

.icon-filled-ship:before {
  content: "\e558"; }

.icon-filled-train:before {
  content: "\e559"; }

.icon-filled-tram:before {
  content: "\e55a"; }

.icon-filled-cactus:before {
  content: "\e55b"; }

.icon-filled-clover:before {
  content: "\e55c"; }

.icon-filled-flower:before {
  content: "\e55d"; }

.icon-filled-hand-eco:before {
  content: "\e55e"; }

.icon-filled-hand-globe:before {
  content: "\e55f"; }

.icon-filled-leaf:before {
  content: "\e560"; }

.icon-filled-light-eco:before {
  content: "\e561"; }

.icon-filled-potted-plant-1:before {
  content: "\e562"; }

.icon-filled-potted-plant-2:before {
  content: "\e563"; }

.icon-filled-2-fingers-down-swipe:before {
  content: "\e564"; }

.icon-filled-2-fingers-horizontal-swipe:before {
  content: "\e565"; }

.icon-filled-2-fingers-left-swipe:before {
  content: "\e566"; }

.icon-filled-2-fingers-omnidirectional-swipe:before {
  content: "\e567"; }

.icon-filled-2-fingers-right-swipe:before {
  content: "\e568"; }

.icon-filled-2-fingers-tab-hold:before {
  content: "\e569"; }

.icon-filled-2-fingers-tap:before {
  content: "\e56a"; }

.icon-filled-2-fingers-up-swipe:before {
  content: "\e56b"; }

.icon-filled-2-fingers-vertical-swipe:before {
  content: "\e56c"; }

.icon-filled-2finger-double-tap:before {
  content: "\e56d"; }

.icon-filled-double-tap:before {
  content: "\e56e"; }

.icon-filled-drag-down:before {
  content: "\e56f"; }

.icon-filled-drag-horizontal:before {
  content: "\e570"; }

.icon-filled-drag-left:before {
  content: "\e571"; }

.icon-filled-drag-right:before {
  content: "\e572"; }

.icon-filled-drag-up:before {
  content: "\e573"; }

.icon-filled-drag-vertical:before {
  content: "\e574"; }

.icon-filled-filck-down:before {
  content: "\e575"; }

.icon-filled-flick-up:before {
  content: "\e576"; }

.icon-filled-horizontal-flick:before {
  content: "\e577"; }

.icon-filled-left-flick:before {
  content: "\e578"; }

.icon-filled-omnidirectional-drag:before {
  content: "\e579"; }

.icon-filled-omnidirectional-flick:before {
  content: "\e57a"; }

.icon-filled-omnidirectional-swipe:before {
  content: "\e57b"; }

.icon-filled-pinch:before {
  content: "\e57c"; }

.icon-filled-right-flick:before {
  content: "\e57d"; }

.icon-filled-rotate-clockwise:before {
  content: "\e57e"; }

.icon-filled-rotate-counterclockwise:before {
  content: "\e57f"; }

.icon-filled-spread:before {
  content: "\e580"; }

.icon-filled-swipe-down:before {
  content: "\e581"; }

.icon-filled-swipe-horizontal:before {
  content: "\e582"; }

.icon-filled-swipe-left:before {
  content: "\e583"; }

.icon-filled-swipe-right:before {
  content: "\e584"; }

.icon-filled-swipe-up:before {
  content: "\e585"; }

.icon-filled-swipe-vertical:before {
  content: "\e586"; }

.icon-filled-tap:before {
  content: "\e587"; }

.icon-filled-tap-hold:before {
  content: "\e588"; }

.icon-filled-vertical-flick:before {
  content: "\e589"; }

.icon-filled-arrow-1-1:before {
  content: "\e58a"; }

.icon-filled-arrow-2-1:before {
  content: "\e58b"; }

.icon-filled-arrow-3:before {
  content: "\e58c"; }

.icon-filled-arrow-4:before {
  content: "\e58d"; }

.icon-filled-arrow-5:before {
  content: "\e58e"; }

.icon-filled-arrow-6:before {
  content: "\e58f"; }

.icon-filled-arrow-7:before {
  content: "\e590"; }

.icon-filled-arrow-8:before {
  content: "\e591"; }

.icon-filled-arrow-9:before {
  content: "\e592"; }

.icon-filled-arrow-10:before {
  content: "\e593"; }

.icon-filled-arrow-11:before {
  content: "\e594"; }

.icon-filled-arrow-12:before {
  content: "\e595"; }

.icon-filled-arrow-13:before {
  content: "\e596"; }

.icon-filled-arrow-14:before {
  content: "\e597"; }

.icon-filled-arrow-15:before {
  content: "\e598"; }

.icon-filled-arrow-16:before {
  content: "\e599"; }

.icon-filled-arrow-17:before {
  content: "\e59a"; }

.icon-filled-arrow-18:before {
  content: "\e59b"; }

.icon-filled-arrow-19:before {
  content: "\e59c"; }

.icon-filled-arrow-20:before {
  content: "\e59d"; }

.icon-filled-arrow-21:before {
  content: "\e59e"; }

.icon-filled-arrow-22:before {
  content: "\e59f"; }

.icon-filled-arrow-23:before {
  content: "\e5a0"; }

.icon-filled-arrow-24:before {
  content: "\e5a1"; }

.icon-filled-arrow-25:before {
  content: "\e5a2"; }

.icon-filled-arrow-26:before {
  content: "\e5a3"; }

.icon-filled-arrow-27:before {
  content: "\e5a4"; }

.icon-filled-arrow-28:before {
  content: "\e5a5"; }

.icon-filled-arrow-29:before {
  content: "\e5a6"; }

.icon-filled-arrow-30:before {
  content: "\e5a7"; }

.icon-filled-arrow-31:before {
  content: "\e5a8"; }

.icon-filled-arrow-32:before {
  content: "\e5a9"; }

.icon-filled-arrow-33:before {
  content: "\e5aa"; }

.icon-filled-arrow-34:before {
  content: "\e5ab"; }

.icon-filled-arrow-35:before {
  content: "\e5ac"; }

.icon-filled-arrow-36:before {
  content: "\e5ad"; }

.icon-filled-arrow-37:before {
  content: "\e5ae"; }

.icon-filled-arrow-38:before {
  content: "\e5af"; }

.icon-filled-arrow-39:before {
  content: "\e5b0"; }

.icon-filled-arrow-40:before {
  content: "\e5b1"; }

.icon-filled-arrow-41:before {
  content: "\e5b2"; }

.icon-filled-arrow-42:before {
  content: "\e5b3"; }

.icon-filled-arrow-43:before {
  content: "\e5b4"; }

.icon-filled-arrow-44:before {
  content: "\e5b5"; }

.icon-filled-arrow-45:before {
  content: "\e5b6"; }

.icon-filled-arrow-46:before {
  content: "\e5b7"; }

.icon-filled-arrow-47:before {
  content: "\e5b8"; }

.icon-filled-arrow-48:before {
  content: "\e5b9"; }

.icon-filled-arrow-49:before {
  content: "\e5ba"; }

.icon-filled-arrow-50:before {
  content: "\e5bb"; }

.icon-filled-arrow-51:before {
  content: "\e5bc"; }

.icon-filled-arrow-52:before {
  content: "\e5bd"; }

.icon-filled-arrow-53:before {
  content: "\e5be"; }

.icon-filled-arrow-54:before {
  content: "\e5bf"; }

.icon-filled-arrow-55:before {
  content: "\e5c0"; }

.icon-filled-arrow-56:before {
  content: "\e5c1"; }

.icon-filled-arrow-57:before {
  content: "\e5c2"; }

.icon-filled-arrow-58:before {
  content: "\e5c3"; }

.icon-filled-arrow-59:before {
  content: "\e5c4"; }

.icon-filled-arrow-60:before {
  content: "\e5c5"; }

.icon-filled-arrow-61:before {
  content: "\e5c6"; }

.icon-filled-arrow-62:before {
  content: "\e5c7"; }

.icon-filled-arrow-63:before {
  content: "\e5c8"; }

.icon-filled-arrow-64:before {
  content: "\e5c9"; }

.icon-filled-arrow-65:before {
  content: "\e5ca"; }

.icon-filled-arrow-66:before {
  content: "\e5cb"; }

.icon-filled-arrow-67:before {
  content: "\e5cc"; }

.icon-filled-arrow-68:before {
  content: "\e5cd"; }

.icon-filled-arrow-69:before {
  content: "\e5ce"; }

.icon-filled-arrow-70:before {
  content: "\e5cf"; }

.icon-filled-arrow-71:before {
  content: "\e5d0"; }

.icon-filled-arrow-72:before {
  content: "\e5d1"; }

.icon-filled-arrow-circle-1:before {
  content: "\e5d2"; }

.icon-filled-arrow-circle-2:before {
  content: "\e5d3"; }

.icon-filled-arrow-circle-3:before {
  content: "\e5d4"; }

.icon-filled-arrow-circle-4:before {
  content: "\e5d5"; }

.icon-filled-arrow-circle-5:before {
  content: "\e5d6"; }

.icon-filled-arrow-circle-6:before {
  content: "\e5d7"; }

.icon-filled-arrow-circle-7:before {
  content: "\e5d8"; }

.icon-filled-arrow-circle-8:before {
  content: "\e5d9"; }

.icon-filled-arrow-circle-9:before {
  content: "\e5da"; }

.icon-filled-arrow-circle-10:before {
  content: "\e5db"; }

.icon-filled-arrow-circle-11:before {
  content: "\e5dc"; }

.icon-filled-arrow-circle-12:before {
  content: "\e5dd"; }

.icon-filled-arrow-circle-13:before {
  content: "\e5de"; }

.icon-filled-arrow-circle-14:before {
  content: "\e5df"; }

.icon-filled-arrow-circle-15:before {
  content: "\e5e0"; }

.icon-filled-arrow-circle-16:before {
  content: "\e5e1"; }

.icon-filled-arrow-circle-17:before {
  content: "\e5e2"; }

.icon-filled-arrow-circle-18:before {
  content: "\e5e3"; }

.icon-filled-arrow-circle-19:before {
  content: "\e5e4"; }

.icon-filled-arrow-circle-20:before {
  content: "\e5e5"; }

.icon-filled-arrow-circle-21:before {
  content: "\e5e6"; }

.icon-filled-arrow-circle-22:before {
  content: "\e5e7"; }

.icon-filled-arrow-circle-23:before {
  content: "\e5e8"; }

.icon-filled-arrow-circle-24:before {
  content: "\e5e9"; }

.icon-filled-arrow-circle-25:before {
  content: "\e5ea"; }

.icon-filled-arrow-circle-26:before {
  content: "\e5eb"; }

.icon-filled-arrow-circle-27:before {
  content: "\e5ec"; }

.icon-filled-arrow-circle-28:before {
  content: "\e5ed"; }

.icon-filled-arrow-circle-29:before {
  content: "\e5ee"; }

.icon-filled-arrow-circle-30:before {
  content: "\e5ef"; }

.icon-filled-arrow-delete-1:before {
  content: "\e5f0"; }

.icon-filled-arrow-delete-2:before {
  content: "\e5f1"; }

.icon-filled-arrow-dot-1:before {
  content: "\e5f2"; }

.icon-filled-arrow-dot-2:before {
  content: "\e5f3"; }

.icon-filled-arrow-dot-3:before {
  content: "\e5f4"; }

.icon-filled-arrow-dot-4:before {
  content: "\e5f5"; }

.icon-filled-arrow-dot-5:before {
  content: "\e5f6"; }

.icon-filled-arrow-dot-6:before {
  content: "\e5f7"; }

.icon-filled-arrow-rectangle-1:before {
  content: "\e5f8"; }

.icon-filled-arrow-rectangle-2:before {
  content: "\e5f9"; }

.icon-filled-arrow-rectangle-3:before {
  content: "\e5fa"; }

.icon-filled-arrow-rectangle-4:before {
  content: "\e5fb"; }

.icon-filled-arrow-rectangle-5:before {
  content: "\e5fc"; }

.icon-filled-arrow-rectangle-6:before {
  content: "\e5fd"; }

.icon-filled-arrow-rectangle-7:before {
  content: "\e5fe"; }

.icon-filled-arrow-rectangle-8:before {
  content: "\e5ff"; }

.icon-filled-arrow-rectangle-9:before {
  content: "\e600"; }

.icon-filled-arrow-rectangle-10:before {
  content: "\e601"; }

.icon-filled-arrow-rectangle-11:before {
  content: "\e602"; }

.icon-filled-arrow-rectangle-12:before {
  content: "\e603"; }

.icon-filled-arrow-rectangle-13:before {
  content: "\e604"; }

.icon-filled-arrow-rectangle-14:before {
  content: "\e605"; }

.icon-filled-arrow-rectangle-15:before {
  content: "\e606"; }

.icon-filled-arrow-rectangle-16:before {
  content: "\e607"; }

.icon-filled-arrow-rectangle-17:before {
  content: "\e608"; }

.icon-filled-arrow-rectangle-18:before {
  content: "\e609"; }

.icon-filled-arrow-rectangle-19:before {
  content: "\e60a"; }

.icon-filled-arrow-rectangle-20:before {
  content: "\e60b"; }

