{% extends 'photos/base.html' %}

{% block meta %}
    <meta property="og:title" content="New Zealand Photography Group: {{ album.title }}" />
    <meta property="og:description" content="{{ album.description }}">
    <meta property="og:url " content="{{ album.get_absolute_url }}">
    <meta property="og:image" content="{{ album.photos.first.photo.url }}">
{% endblock %}


{% block content %}
    {% include 'photos/partials/album_detail.html' %}
    {% include 'partials/content_footer.html' with object=album %}
{% endblock %}
