{% extends 'photos/base.html' %}

{% block meta %}
<meta property="og:title" content="New Zealand Photography Group | {% if photo.title %}{{ photo.title }}{% else %}Photo{% endif %}" />
    <meta property="og:description" content="{{ photo.description }}">
    <meta property="og:url " content="{{ photo.get_absolute_url }}">
    <meta property="og:image" content="{{ photo.photo.url }}">
{% endblock %}

{% block content %}
    {% include 'photos/partials/photo_detail.html' %}
    {% include 'partials/content_footer.html' with object=photo %}
    <div class="row">
      <div class="col-md-4">
        <h2 class="heading-main">Comments</h2>
      </div>
      <div class="col-md-4">
        {% if not disable_comments %}
          {% include 'comments/partials/comment_box.html' %}
        {% endif %}
      </div>
      <div class="col-md-4">
      </div>
    </div>

{% endblock %}
