{% extends 'stream/base.html' %}

{% block meta %}
    <meta property="og:title" content="New Zealand Photography Group | Post" />
    <meta property="og:description" content="{{ post.description }}">
    <meta property="og:url " content="{{ post.get_absolute_url }}">
    {% if post.photos.count %}
        <meta property="og:image" content="{{ post.photos.first.photo.url }}">
    {% endif %}
{% endblock %}


{% block content %}
  {% include 'stream/partials/each_post.html' %}
{% endblock %}
