{% load thumbnail %}
{% if query %}
<div role="tabpanel" class="row">
  <div class="col-md-2">
    <ul class="result-type" role="tablist" id="search-tab">
      {% comment %}
      <li role="presentation" class="active"><a href="#photos" aria-controls="photos" role="tab" data-toggle="tab">Photos</a></li>
      <li role="presentation"><a href="#albums" aria-controls="albums" role="tab" data-toggle="tab">Albums</a></li>
      <li role="presentation"><a href="#members" aria-controls="members" role="tab" data-toggle="tab">Members</a></li>
      <li role="presentation"><a href="#events" aria-controls="events" role="tab" data-toggle="tab">Events</a></li>
      {% endcomment %}
      <li role="presentation"><a href="#competitions" aria-controls="competitions" ="tab" data-toggle="tab">Competitions</a></li>
      {% comment %}
      <li role="presentation"><a href="#news" aria-controls="news" role="tab" data-toggle="tab">News</a></li>
      {% endcomment %}
    </ul>
  </div>
  <div class="col-md-10 tab-content">
    <div role="tabpanel" class="result-entry tab-pane fade in active" id="competitions">
    {% for result in page.object_list %}
      <div class="row">
        <div class="col-md-9">
          <div class="result-info">
            <h2><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a></h2>
            <p><a href="{{ result.object.get_absolute_url }}">{{ result.object.description|truncatewords:20 }}</a></p>
            <div class="result-post">
              <div class="post-avatar">
                <img src="{{ result.object.created_by.profile_picture }}"/>
              </div>
              <div class="post-summary">
                <!-- In <a href="#"></a>, -->by <a href="{% url 'users:detail' result.object.created_by.username %}">{{ result.object.created_by }}</a>
                {# <span class="post-stat">Nov 24, 2014 <span>6 likes</span></span> #}
              </div>
            </div>
          </div>
        </div>
        {% comment %}
        <div class="col-md-3">
          {% thumbnail result.object.photo "195x150" as im %}
          <div class="result-img"><img src="{{ im.url }}" /></div>
          {% endthumbnail %}
        </div>
        {% endcomment %}
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endif %}
