{% extends 'base.html' %}
{% block content %}

<div class="page-header">
  <h1>About Us</h1>
</div>
<div class="row">
  <div class="col-md-12">
    <p>
      We are a group of photography hobbyists who enjoy all sorts of different types of photography.
    </p>
    <p>
      We want to share our journey and learn - to this point, we'd like to encourage you to really consider your comments on photos. Comments like "Great shot bro, Nice one or Epic" while great for the ego, aren't always the best for sharpening ones skills. So we'd like to challenge members to provide constructive feedback on images. 
    </p>
    <p>
      While providing feedback is great but they are not necessarily received, and since art is very subjective therefore any disagreements of feedback and opinion are best to be ceased in silence.
    </p>
    <p>
      Also if anyone wish to share another member's photos - please ask first and respect their decision. If allowed to share - please give credit to the member.
    </p>
    <p>
      Remember we are all learning, so be honest, be fair - have fun!
    </p>
  </div>
</div>
{% endblock %}
