{% extends 'base.html' %}
{% block content %}
<div class="page-header">
  <h1>Contact Us</h1>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>General Inquiries</h2>
    <span>Email: <a href="mailto:admin@photogroup.nz">admin@photogroup.nz</a></span>
  </div>
</div>
{% endblock %}
