{% load thumbnail %}

<div>
  <span>{{ album.title}}</span>
  {% for photo in album.photos.all %}
    {% thumbnail photo.photo "500" as im %}
      <a href="{% url 'photos:photo' photo.uuid %}"><img src="{{ im.url }}"/></a>
    {% endthumbnail %}
  {% endfor %}
  <span>{{ album.description }}</span>
</div>
