{% load thumbnail %}

<div>
  {{ album.title }}
  {% thumbnail album.photos.first.photo "300" as im %}
  <a href="{{ album.get_absolute_url }}"><img src="{{ im.url }}"/></a>
  {% endthumbnail %}
</div>
