<div class="row">
  <div class="col-md-12 text-center bottom-actions">
    <ul class="clearfix action-link event-actions">
      {% block prepend %}{% endblock %}
      <li>
      {% if not disable_likes %}
        {% include 'likes/partials/like_link.html' %}
      {% endif %}
      </li>
      <li>
      {% if not disable_report %}
        {% include 'governance/partials/inappropriate_link.html' %}
      {% endif %}
      </li>
      <li>
      {% if not disable_perma %}
        <a href="{{ object.get_absolute_url }}" class="rounded-btn">
          <i class="icon icon-link-2"></i> 
          <span class="btn-label">Perma Link</span>
        </a>
      {% endif %}
      </li>
      {% block append %}{% endblock %}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {% if not disable_tags %}
        {% include 'tags/partials/tags.html' %}
      {% endif %}
  </div>
</div>
