<nav>
    <ul class="pagination">
    {% for page_num in paged.paginator.page_range %}
        {% if page_num == paged.number %}
          <li class="active"><a href="#">{{ page_num }}</a></li>
        {% else %}
          <li><a href="{% url urlname object.uuid page_num %}">{{ page_num }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</nav>
