{% load likes %}
<div class="likedisplay"></div>
<div class="likebox" data-initial-count="{{ object.likes.count }}" data-liked="{{ object|liked:request.user }}" data-href="{% url 'likes:toggle' object.uuid %}"></div>
