{% if notification.is_read %}
  <a href="{{ notification.get_absolute_url }}">{{ notification.message }}</a>
{% else %}
  <strong><a href="{{ notification.get_absolute_url }}">{{ notification.message }}</a></strong>
{% endif %}
