{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">
  You need to be a member of the <a href="https://www.facebook.com/groups/381712695180549/">facebook group</a> to be able to sign in.
</div>
{% endblock %}
