{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
      Likes Received: {{ likes_received }}
    </div>
</div>
  {% comment %}
  Likes Given: {{ likes_given }}
  <div class="row">
    <h2> Posts</h2>
    {% for post in object.posts|slice:':5' %}
        {% include 'stream/partials/each_post.html' with disable_content_footer=True %}
    {% empty %}
        Not posts yet.
    {% endfor %}
  </div>
  {% endcomment %}
  <div class="row">
    <div class="col-sm-12 isotope masonry-grid">
        <h2> Photos</h2>
        {% for photo in object.photos|slice:':20' %}
            <div class="col-xs-12 col-sm-4 col-md-3 item type-2 type-1 " data-category="type-2">
              <div class="item-wrapper">
                <div class="item-img">
                {% thumbnail photo.photo "500" as im %}
                    <a href="{{ photo.get_absolute_url }}"><img class="img-responsive" src="{{ im.url }}"/></a>
                {% endthumbnail %}
                </div>
              </div>
            </div>
        {% empty %}
            Not photos yet.
        {% endfor %}
    </div>
  </div>

  {% comment %}
  <div class="col-sm-12 ">
    <a class="btn btn-primary" href="{% url 'users:update' %}">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>
  {% endcomment %}

{% endblock content %}

{% block requirejs %}
    <script type="text/javascript"> require(["common/isotope"]); </script>
{% endblock %}
