// Import library

@import '../vendor/bootstrap-sass/assets/stylesheets/bootstrap-compass';
@import '../vendor/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../vendor/bourbon/app/assets/stylesheets/bourbon';
@import '../vendor/animate.css/animate.css';
@import '../vendor/animate.css-scss/animate.scss';

// Import branded font
@include font-face("UniversLTStd-Light", "../fonts/UniversLTStd-Light/UniversLTStd-Light", $file-formats: eot woff ttf svg);

// Import icon font
@import '../vendor/Font-Awesome/scss/font-awesome';
$fa-font-path: "../fonts/Font-Awesome" !default;
@import '../vendor-nonbower/streamline-icon-font/streamline-30px';

// Global styles

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error
.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-warning {
  color: black;
  background-color: orange;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

* {   
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}

body {
  font-family: "UniversLTStd-Light",Helvetica,Arial,sans-serif;
  color: #8a8a8a;
  position: relative;
  padding-bottom: 85px;
}

a {
  color: #8a8a8a;
  text-decoration: none;
  @include transition(all 0.5s ease);
}

a:hover {
  color: #000;
  text-decoration: none;
}

a:focus {
  outline: none;
  outline-offset: 0;
  color: inherit;
  text-decoration: none;
}

.container {
  position: relative;
}

header,
.section-content,
footer {
  padding-left: 30px;
  padding-right: 30px;
}

.img-overlay {
  > span,
  > div {
    position: relative;
    display: block;
    &:before {
      background-color: rgba(0, 0, 0, 0);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      @include transition(all 0.5s ease);
      width: 100%;
      z-index: 2;
    }
    &:after {
      @include transition(all 0.5s ease);
      font-family: "streamline-30px" !important;
      content: "\e2a9";
      position: absolute;
      display: block;
      width: 100%;
      left: 0;
      top: 50%;
      @include transform(translateY(-50%) rotate(0deg));
      color: #fff;
      text-align: center;
      z-index: 3;
      font-size: 50px;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      -moz-opacity: 0;
      -khtml-opacity: 0;
      opacity: 0;
    }
  }
  img {
    display: block;
  } 
}
.img-overlay:hover {
  > span,
  > div {
    &:before {
      background-color: rgba(0, 0, 0, .45);
    }
    &:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      -moz-opacity: 1;
      -khtml-opacity: 1;
      opacity: 1;
        
      @include transform(translateY(-50%) rotate(90deg));
    }
  } 
}

h1,
.heading-main {
  color: #000;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 36px;
}

.heading-bottom {
  color: #000;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 36px;
}

h3 {
  font-size: 15px;
  color: #000;
  text-transform: uppercase;
}

.spilit-heading {
  > div {
    &:nth-child(2) {
      text-align: right;
    }
  }
}

.spacing-lg {
  margin-top: 30px;
}

button {
  -webkit-border-radius: 0;
  border-radius: 0;
  background: none;
  text-align: center;
  border: 1px solid #8a8a8a;
  @include transition(all 0.5s ease);
  &:hover {
    border-color: #000;
    color: #000;
  }
  &:active {
    text-indent: 0;
  }
  .icon:before {
    vertical-align: middle;
  }
}

.page-title {
  float: none;
}

.noscroll {
  overflow: hidden;  
}

.show-element {
  display: block !important;
}

.navbar {
  margin: 30px 0 30px 0;
  min-height: 38px;
  > .container,
  > .container-fluid {
    .navbar-brand {
	margin: 0 0 0 0;
    }
  } 
}

.circle-btn {
  display: block;
  width: 38px;
  height: 38px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 18px;
  overflow: hidden;
  border: 1px solid #8a8a8a;
  .icon:before {
    vertical-align: middle;
  }
}

.circle-btn-medium {
  width: 50px;
  height: 50px;
}

.rounded-btn {
  display: inline-block;
  *display: inline;
  zoom: 1;
  border: 1px solid #8a8a8a;
  height: 28px;
  -webkit-border-radius: 999em;
  border-radius: 999em;
  font-size: 14px;
  padding: 0 15px;
  margin-top: 6px 0 -10px 0;
  margin-bottom: -10px;
  overflow: hidden;
  .icon {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-top: 3px;
    margin-right: 5px;
    &:before {
      vertical-align: middle;
    }
  }
  .btn-label {
    display: inline-block;
    *display: inline;
    zoom: 1;
    line-height: 1;
    vertical-align: middle;
    font-size: 12px;
    margin-top: 4px;
  }
}

.rounded-big {
  height: 45px;
  font-size: 20px;
  .icon {
    margin-top: 7px;
  }
  .btn-label {
    font-size: 18px;
    margin-top: 7px;
  }
}

.header-avatar {
  border: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  padding: 0;
  @include transition(all 0.5s ease);
  &:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.dropdown-menu {
  width: 230px;
  font-family: "UniversLTStd-Light",Helvetica,Arial,sans-serif;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.35);
  padding: 0;
  margin-top: 15px;
}

.dropdown-menu:after, .dropdown-menu:before {
  bottom: 100%;
  left: 90%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.dropdown-menu:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}
.dropdown-menu:before {
  border-color: rgba(166, 166, 166, 0);
  border-bottom-color: #a6a6a6;
  border-width: 11px;
  margin-left: -11px;
}


.profile-control {
  float: left;
  list-style: none;
  padding: 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%;
  li {
    display: block;
    width: 100%;
    margin: 0 !important;
  }
  a {
    display: block;
    width: 100%;
    padding: 7px 25px;
    line-height: 1.4;
    text-align: left;
    font-size: 16px;
    color: #888;
    &:hover {
      color: #000;
    }
    i {
      font-size: 14px;
      margin-right: 10px;
      color: #000;
      font-weight: bold;
      &:before {
        line-height: 26px;
        vertical-align: bottom;
      }
    }
  }
}

.control-lower {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  background: #f8f8f8;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  a {
    font-size: 14px;
    color: #888;
  }
}

.navbar-toggle {
  float: left;
  margin: 0 15px 0 0;
  .icon-bar {
    width: 16px;
    height: 1px;
  }
  .icon-bar:nth-of-type(2) {
    top: 1px;
  }
  .icon-bar:nth-of-type(3) {
    top: 2px;
  }
  .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: #8a8a8a;
  }
 	&.active {
	  	z-index: 1000;
	    .icon-bar {
			&:nth-of-type(1) {
			  top: 6px;
			  @include transform(rotate(45deg));
			}
			&:nth-of-type(2) {
			  background-color: transparent;
			}
			&:nth-of-type(3) {
			  top: -4px;
			  @include transform(rotate(-45deg));
			}
	    }
  	}
  	&:hover {
	    .icon-bar {
			 background: #000;
	    }
  	}
}

.controls-bg {
    top: 0;
    left:0;
    z-index: 999;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    &.animated {
		@include animation-duration(.75s);
    }
}

.navbar-nav {
    width: 100%;
    &.animated {
	@include animation-duration(.75s);
    }
    > li {
	float: none;
    }
    li {
	list-style-type: none;
	text-align: center;
	padding: 10px;
	a {
	  font-size: 150%;
	  width: 100%;
	}
	a:hover {
	  background: none;
	}
	&:first-child {
	  margin-top: 120px;
	}
    }
}

.btn,
.btn:active,
.btn.active {
  -webkit-border-radius: 0;
  border-radius: 0;
  line-height: 1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn:active,
.btn.active {
  color: #000;
}

.btn-default {
  color: #8a8a8a;
  border-color: #8a8a8a;
  &:hover {
    color: #000;
    border-color: #000;
    background: none;
  }
}

.btn-lg {
  padding-top: 12px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
}

.control-label {
  font-weight: normal;
  font-size: 15px;
}
.form-control {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
  color: #000;
  font-size: 20px; 
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  &:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #000;
  }
}

textarea.form-control {
  overflow: hidden;
  line-height: 50px;
  @include background-image(linear-gradient(rgba(0,0,0,0.25) 1px, transparent 1px));
  background-size: 100% 50px;
  background-position: 0 43px;
  background-origin: content-box;
  border-bottom: none;
  margin-top: -15px;
  resize: none;
  &:focus {
    border-bottom: none;
    @include background-image(linear-gradient(rgba(0,0,0,1) 1px, transparent 1px));
  }
}

.has-error .form-control {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.control-group {
  margin-bottom: 35px;
}

.help-inline {
  display: block;
  margin-top: 15px;
  line-height: 1;
  font-size: 13px;
}

.nzpg-logo {
  text-indent: -30000px;
  display: block;
  background-image: url(../images/logo-nzpg.png);
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  background-image: url(../images/logo-nzpg@2x.png);
  }
}

.header-logo {
  width: 95px;
  height: 38px;
  background-size: 95px 38px;
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  background-size: 95px 38px;
  }
}

.navbar-brand {
  position: relative;
  z-index: 1001;
}

.action-link {
  position: relative;
  list-style: none;
  padding: 0;
  margin-left: -15px;
  li {
    float: left;
    margin: 0 0 0 15px;
  }
  .full-name {
    display: block;
    width: 150px;
    font-size: 16px;
    text-align: right;
    margin-top: 4px;
    line-height: 1.1;
  }
}

.controls-bg {
	&.login-overlay,
	&.search-overlay {
		z-index: 1000;
	}
	
}

.overlay-content {
	margin: 120px 0 0 0;
}

.search-form {
	.form-control {
		@include transition(all 0.5s ease);
    padding-left: 0;
		-webkit-border-radius: 0;
  		border-radius: 0;
  		border-top: none;
  		border-left: none;
  		border-right: none;
  		border-bottom: 1px solid transparent;
  		background: none;
  		-webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        height: 90px;
        font-size: 60px;
        @include placeholder {
        	font-family: "UniversLTStd-Light",Helvetica,Arial,sans-serif;
		    font-size: 60px;
		}
        &:focus {
        	border-bottom: 1px solid #8a8a8a;
        }
	} 
}

.result-type {
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  li {
    border-top: 1px solid #8a8a8a;
    padding-top: 15px;
    padding-bottom: 15px;
    &:first-child {
      border-top: none;
    }
    &.active {
    	a {
	  		color: #000;
	  		margin-left: 20px;
	  	} 
    }
  }
  a {
  	&:hover {
  		color: #000;
  		margin-left: 20px;
  	}
  }  
}

.search-content {
  .result-entry {
  	margin-top: 15px;
  	.row {
  		border-top: 1px solid #8a8a8a;
  		padding-top: 30px;
  		margin-top: 30px;
  		&:first-child {
  			border: none;
  			margin-top: 0;
  			padding-top: 0;
  		}
  	}
  	a {
  		color: #000;
  	}
    .result-info {
      h2 {
        margin-top: 0;
      }
      p {
      	font-size: 17px;
      	a {
      		color: #8a8a8a;
      	}
      }
    }
    .result-post {
    	@include clearfix;
    	.post-avatar {
    		float: left;
    		img {
	    		-webkit-border-radius: 50%;
	  			border-radius: 50%;
	  		}
    	}
    	.post-summary {
    		margin: 0 0 0 10px;
    		float: left;
			.post-stat {
				display: block;
				span {
					margin-left: 5px;
				}
			}
    	}
    }
  }
}

.overlay-close {
  position: absolute;
  right: 15px;
  top: 40px;
  border: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-size: 30px;
  background: none;
}

.login-form {
	max-width: 580px;
	margin: 0 auto 0 auto;
	padding: 40px 80px;
	text-align: center;
  h2 {
    color: #000;
  }
	.normal-text {
		font-size: 18px;
	}
}

.login-btn {
  margin-top: 35px;
  margin-bottom: 35px;
  a {
    display: inline-block;
    *display: inline;
    zoom: 1;
    border: 1px solid #3b5998;
    color: #3b5998;
    line-height: 1;
    font-size: 15px;
    padding: 15px 30px 12px 30px;
    i {
      margin-right: 5px;
    }
    &:hover {
      background: #3b5998;
      color: #fff;
    }
  }
}

.section-body {
  margin-bottom: 100px;
}

.isotope-control {
  display: block;
  margin-bottom: 40px;
  div:nth-child(2) {
    text-align: right;
  }
  .btn {
    border: none;
    padding-left: 0;
    padding-right: 0;
    margin-right: 15px;
    &:hover {
      border: none;
    }
  }
}

.masonry-grid {
  margin-bottom: -60px;
  .h2 {
    height: 500px;
  }
  .item-wrapper {
    @include transition(all 0.5s ease);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    
  }
  .not-selected {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
  }
  .item-link {
    display: block;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    &:before {
      @include transition(all 0.5s ease);
      content: "";
      z-index: 3;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      -moz-box-shadow: inset #fff 0 0 0 0px;
      -webkit-box-shadow: inset #fff 0 0 0 0px;
      box-shadow: inset #fff 0 0 0 0px;
    }
    img {
      @include transition(all 0.5s ease);
    }
    &:hover {
      &:before {
        -moz-box-shadow: inset #fff 0 0 0 10px;
        -webkit-box-shadow: inset #fff 0 0 0 10px;
        box-shadow: inset #fff 0 0 0 10px;
      }
      img {
        @include transform(scale(1.2));
      }
    }
  }
  .item-img {
    display: block;
    .img-responsive {
      width: 100%;
    }
  }
  .item-info {
    display: block;
    margin-top: 20px;
    margin-bottom: 60px;
  }
  .item-title {
    display: block;
    margin-top: 5px;
  }
  .item-stats {
    display: block;
    text-align: right;
  }
  .item-stats-entry {
    margin-left: 10px;
    float: right;
  }
  .icon {
    font-size: 16px;
    margin-right: 3px;
    &:before {
      vertical-align: middle;
    }
  }
  h3 {
    font-weight: normal;
    font-size: 16px;
    margin: 0 0 0 0;
  }
  .winner-tag {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #fff;
    @include inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 5;
    line-height: 50px;
    color: #000;
  }
  .date-tag {
    z-index: 5;
    position: absolute;
    left: 9px;
    bottom: 9px;
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 5px 10px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.15);
    span {
      display: block;
      line-height: 1;
    }
    .date-day {
      font-size: 23px;
    }
  }
}

.cover-photo {
  background-attachment: scroll;
  background-position: 50% 50%;
  background-size: 100% auto;
  height: 250px;
  padding-top: 130px;
  position: relative;
  width: 100%;
}

.cover-photo-gradient {
  background: rgba(0, 0, 0, 0);
  @include background-image(linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.03) 8%, rgba(0, 0, 0, 0.11) 21%, rgba(0, 0, 0, 0.61) 78%, rgba(0, 0, 0, 0.7) 95%, rgba(0, 0, 0, 0.7) 100%));
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.competition-details {
  position: relative;
  margin-bottom: 60px;
  > div {
    &:nth-child(1) {
      position: initial;
    }
    &:nth-child(2) {
      height: 400px;
      overflow: hidden;
      /*img {*/
        /*width: 100%;*/
      /*}*/
    }
  }
  .competition-details-list {
   position: absolute;
   bottom: 0; 
   padding-left: 0;
   margin: 0;
   list-style: none;
   li {
    @include clearfix;
    border-bottom: 1px solid #e8e8e8;
    padding: 8px 0 5px 0;
    text-align: right;
    &:nth-child(1) {
      text-align: left;
    }
    span {
      padding: 0;
    }
    .header-avatar {
      float: left;
      margin: 0 10px 10px 0;
    }
    .details-created {
      color: #000;
      a {
        font-size: 12px;
      }
    }
   } 
  }
  .competition-details-label {
    text-align: left;
    color: #000;
  }
}

.competition-winner {
  text-align: center;
  margin-bottom: 60px;
  .who-outter {
    list-style: none;
    padding: 0;
  }
  .winner-who {
    @include inline-block;
    margin-left: 30px;
    &:first-child {
      margin-left: 0;
    }
  }
  .header-avatar {
    float: left;
    margin: 0 10px 10px 0;
  }
  .details-winner {
    color: #000;
    float: left;
    text-align: left;
    a {
      font-size: 12px;
    }
  }
}

.no-entry {
  margin-bottom: 60px;
  text-align: center;
  .rounded-btn {
    width: 200px;
    margin: 0 auto;
  }
  .rounded-big {
    width: 250px;
  }
}

.bottom-actions {
  margin-bottom: 60px;
}

.event-actions {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-top: 45px;
}

.like-text,
.vote-text {
  width: 100%;
  position: absolute;
  left: 0;
}

.vote-text {
  top: -45px;
}

.like-text {
  top: -28px;
}

.comment-entry,
.comment-form
 {
  .form-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  .header-avatar {
    position: absolute;
    left: 0;
    top: 0;
  }
  .comment-details {
    position: relative;
    margin-left: 55px;
    a {
      color: #000;
      &:hover {
        color: #8a8a8a;
      }
    }
  }
  .comment-date {
    margin-left: 15px;
  }
  .comment-arrow {
    height: 21px;
    left: -9px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    width: 10px;
    &:before {
      background: none repeat scroll 0 0 #fff;
      border: 1px solid #8a8a8a;
      border-radius: 2px;
      content: "";
      height: 20px;
      left: 4px;
      position: absolute;
      top: 0;
      @include transform(rotate(45deg));
      width: 20px;
    }
  }
  textarea {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    height: 80px;
    line-height: 18px;
    outline: 0 none;
    padding: 10px;
    border: 1px solid #8a8a8a;
    resize: none;
    width: 98.2%;
  }
}

.photo-container {
  position: relative;
  text-align: center;
}

.photo-back {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  font-size: 30px;
}

.photo-action {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}

.photo-nav {
  display: block;
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
  font-size: 30px;
  width: 50%;
  height: 100%;
  i {
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));
  }
}

.photo-prev {
  left: 0;
  text-align: left;
}

.photo-next {
  right: 0;
  text-align: right;
}

.photo-img {
  position: relative;
  margin: 0 auto 0 auto;
  padding-bottom: 10px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  z-index: 5;
  max-width: 80%;
  img {
    width: 100%;
  }
}

.photo-basic {
  position: relative;
  .header-avatar {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.basic-info {
  padding-left: 65px;
  line-height: 1.3;
}

.basic-author {
  font-size: 26px;
  font-weight: bold;
  @include inline-block;
  color: #000;
  &:hover {
    color: #8a8a8a;
  }
}

.basic-date {
  span {
    font-weight: bold;
  }
}

.exif-wrapper {
  margin-top: 20px;
  text-align: left;
  .table > thead > tr > th, 
  .table > thead > tr > td, 
  .table > tbody > tr > th, 
  .table > tbody > tr > td, 
  .table > tfoot > tr > th, 
  .table > tfoot > tr > td {
    padding: 8px 0 5px 0;
  }
  h3 {
    font-size: 20px;
    text-transform: none;
    text-align: right;
  }
}

.exif-label {
  color: #000
}

.exif-data {
  text-align: right;
}

.section-bottom {
  
  .col-md-3 {
    padding-left: 50px;
  }
  .bottom-logo {
    width: 95px;
    height: 38px;
    margin-bottom: 20px;
    background-size: 95px 38px;
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    background-size: 95px 38px;
    }
  }
  h3 {
    color: #000;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 0;
    &.no-cap {
      text-transform: none;
      margin-bottom: 5px;
    }
  }
  p {
    font-size: 14px;
  }
  ul {
    list-style: none;
    padding: 0;
    font-size: 16px;
    margin-top: 15px;
    li {
      margin-top: 5px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  .social-links {
    li {
      margin-top: 10px;
    }
    .bottom-facebook a:hover {
      color: #3B5998;
      i {
        border-color: #3B5998;
      }
    }
    .bottom-twitter a:hover {
      color: #55acee;
      i {
        border-color: #55acee;
      }
    }
    .bottom-google a:hover {
      color: #dd4b39;
      i {
        border-color: #dd4b39;
      }
    }
    .bottom-pinterest a:hover {
      color: #cc2127;
      i {
        border-color: #cc2127;
      }
    }
    i {
      text-align: center;
      border: 1px solid #8a8a8a;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      line-height: 33px;
      margin-right: 10px;
      &:before {
        vertical-align: middle;
      }
    }
  }
  .bottom-btn {
    width: 130px;
    text-transfrom: lowercase;
    font-size: 14px;
    padding: 10px 10px 8px 10px;
    margin-bottom: 5px;
  }
}

footer {
  width: 100%;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 55px;
  line-height: 25px;
  overflow: hidden;
  padding-bottom: 17px;
}
.footer-nav {
  padding-top: 17px;
  ul {
    padding: 0;
    list-style: none;
    @include clearfix;
  }
  li {
    float: left;
    margin-right: 20px;
  }
  a {
    display: block;
    &:hover {
      color: #fff;
    }
  }
}

.footer-cp {
  padding-top: 17px;
  text-align: right;
}




 .masonry-grid {
   margin-bottom: 0;
 }


/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}
